.features{
    @include res('padding-top', 106px);
    @include media(575){
        @include resa('padding-top', 25px);
    }
    &__title{
        color: #000;
        @include res('font-size', 36px);
        line-height: 120%;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        @include res('margin-bottom', 79px);
        @include media(575){
            @include resa('font-size', 20px);
            @include resa('margin-bottom', 46px);
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        @include res('margin-bottom', 79px);
        @include media(575){
            @include resa('margin-bottom', 25px);
        }
    }
    &__row{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @include media(575){
            flex-direction: column-reverse;
            align-items: stretch;
        }
        &:nth-of-type(even){
            flex-direction: row-reverse;
            @include media(575){
                flex-direction: column-reverse;
            }
            .features__left{
                border-radius: 0 2.083vw 2.083vw 0;
                @include media(575){
                    border-radius: 0 0 4.688vw 4.688vw;
                }
            }
        }
        &:not(:last-of-type){
            @include media(575){
                @include resa('margin-bottom', 27px);
            }
        }
    }
    &__left{
        @include res('padding-top', 36px);
        @include res('padding-right', 30px);
        @include res('padding-bottom', 36px);
        @include res('padding-left', 40px);
        border-radius: 2.083vw 0 0 2.083vw;
        background: #EAF7FC;
        width: 100%;
        @include media(575){
            transform: translateY(-1.25vw);
            @include resa('padding-top', 17px);
            @include resa('padding-right', 18px);
            @include resa('padding-bottom', 18px);
            @include resa('padding-left', 18px);
            border-radius: 0 0 4.688vw 4.688vw;
        }
        &.active{
<<<<<<< HEAD
            .features__desc{
                display: block;
            }
            .features__subtitle{
                svg{
                    @include media(575){
=======
            @include media(576){
                .features__desc{
                    display: block;
                }
                .features__subtitle{
                    svg{
>>>>>>> 3c817ce14226e127b63113c6691325c7eb0244a5
                        transform: rotate(-180deg);
                    }
                }
            }
        }
    }
    &__subtitle{
        display: flex;
        align-items: flex-start;
        color: #35B8EB;
        @include res('font-size', 26px);
        line-height: 120%;
        font-style: normal;
        font-weight: 700;
        @include res('margin-bottom', 16px);
        @include media(575){
            text-align: center;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            @include resa('font-size', 14px);
            flex-direction: column-reverse;
            align-items: center;    
        }
        svg{
            transition: 300ms ease;
            @include res('margin-right', 19px);
            @include res('width', 30px);
            @include res('min-width', 30px);
            @include res('height', 24px);
            display: block;
            @include media(575){
                @include resa('width', 19px);
                @include resa('min-width', 19px);
                @include resa('height', 10px);
                @include resa('margin-top', 8px);
            }
            &.disable-sm{
                @include media(575){
                    display: none;
                }
            }
            &.enable-sm{
                display: none;
                @include media(575){
                    display: block;
                }
            }
        }
    }
    &__desc{
        color: #000;
        @include res('font-size', 20px);
        line-height: 140%;
        font-style: normal;
        font-weight: 400;
        @include res('max-width', 702px);
        width: 100%;
        @include media(575){
            @include resa('font-size', 14px);
            @include resa('margin-top', 13px);
            max-width: 100%;
            text-align: center;
            display: none;
        }
    }
    &__image{
        @include res('width', 522px);
        @include res('min-width', 522px);
        @include res('border-radius', 40px);
        overflow: hidden;
        line-height: 0;
        position: relative;
        z-index: 1;
        @include media(575){
            line-height: 0;
            min-width: 100%;
            width: 100%;
        }
        img{
            width: 100%;
        }
    }
    &__items{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include media(575){
            flex-direction: column;
        }
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: max-content;
        @include media(575){
            flex-direction: row;
        }
        &:first-of-type{
            .features__p{
                white-space: nowrap;
            }
        }
        &:not(:last-of-type){
            @include res('margin-right', 70px);
            @include media(575){
                margin-right: 0;
                @include resa('margin-bottom', 7px);
            }
        }
    }
    &__img{
        @include res('width', 75px);
        @include res('height', 75px);
        @include res('margin-bottom', 28px);
        @include media(575){
            @include resa('width', 42px);
            @include resa('min-width', 42px);
            @include resa('height', 42px);
            margin-bottom: 0;
            @include resa('margin-right', 16px);
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__p{
        color: #000;
        @include res('font-size', 18px);
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        text-transform: uppercase;
        text-align: center;
        @include res('max-width', 200px);
        width: 100%;
        @include media(575){
            @include resa('font-size', 14px);
            max-width: 100%;
        }
        span{
            display: block;
            color: #000;
            @include res('font-size', 16px);
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            text-transform: lowercase;
            white-space: nowrap;
            @include media(575){
                display: inline-block;
                @include resa('font-size', 12px);
            }
        }
    }
}