.intro{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.00) 100%), url(../img/intro-bg.png) center / cover no-repeat;
    @include res('margin-top', -56px);
    @include res('padding-top', 195px);
    @include res('margin-bottom', 205px);
    @include media(992){
        @include res('margin-top', -80px);
    }
    @include media(576){
        @include resa('margin-top', -50px);
        @include resa('padding-top', 130px);
        @include resa('margin-bottom', 80px);
    }
    &__items{
        display: flex;
        align-items: center;
        justify-content: center;
        @include res('margin-bottom', 61px);
        @include media(576){
            @include resa('margin-bottom', 34px);
        }
    }
    &__item{
        display: flex;
        align-items: center;
        &:not(:last-of-type){
            @include res('margin-right', 30px);
            @include media(576){
                @include resa('margin-right', 28px);
            }
        }
    }
    &__img{
        @include res('width', 43px);
        @include res('margin-right', 18px);
        @include media(576){
            @include resa('width', 28px);
        }
        img{
            width: 100%;
        }
    }
    &__p{
        color: #FFF;
        @include res('font-size', 20px);
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        text-transform: uppercase;
        @include media(576){
            display: none;
        }
    }
    &__title{
        color: #FFF;
        font-family: Montserrat;
        @include res('font-size', 85px);
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        text-align: center;
        @include res('padding-bottom', 40px);
        @include res('margin-bottom', 40px);
        position: relative;
        @include media(576){
            @include resa('font-size', 32px);
            @include resa('padding-bottom', 11px);
            @include resa('margin-bottom', 15px);
        }
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            @include res('height', 2px);
            background: #fff;
            @include res('width', 214px);
            @include media(576){
                @include resa('height', 1px);
                @include resa('width', 126px);
            }
        }
    }
    &__rating{
        display: flex;
        align-items: center;
        justify-content: center;
        @include res('margin-bottom', 40px);
        @include media(576){
            @include resa('margin-bottom', 44px);
        }
        &-p{
            color: #FFF;
            text-align: center;
            font-family: 'Segoe UI';
            @include res('font-size', 24px);
            @include res('line-height', 36px);
            font-style: normal;
            font-weight: 400;
            @include res('margin-right', 16px);
            @include media(576){
                @include resa('font-size', 16px);
                @include resa('margin-right', 8px);
            }
        }
        &-stars{
            display: flex;
            align-items: center;
        }
        &-star{
            @include res('width', 26px);
            @include res('height', 26px);
            @include media(576){
                @include resa('width', 16px);
                @include resa('height', 16px);
            }
            &:not(:last-of-type){
                @include res('margin-right', 2px);
                @include media(576){
                    @include resa('margin-right', 1px);
                }
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    &__subtitle{
        color: #FFF;
        @include res('font-size', 65px);
        line-height: 120%;
        font-style: normal;
        font-weight: 600;
        @include res('margin-bottom', 40px);
        text-align: center;
        @include media(576){
            display: none;
        }
    }
    &__adress{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        color: #FFF;
        @include res('font-size', 20px);
        line-height: 120%;
        font-style: normal;
        font-weight: 500;
        @include media(576){
            @include resa('font-size', 14px);
            @include resa('max-width', 191px);
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            @include resa('margin-bottom', 26px);
        }
        svg{
            @include res('min-width', 13px);
            @include res('width', 13px);
            @include res('margin-right', 15px);
            @include res('height', 18px);
            @include media(576){
                @include resa('min-width', 9px);
                @include resa('width', 9px);
                @include resa('height', 12px);
                @include resa('margin-top', 2px);
                @include resa('margin-right', 7px);
            }
        }
    }
    &__slider{
        width: 100%;
        position: relative;
        transform: translateY(50%);
        @include media(576){
            transform: translateY(20.313vw);
        }
    }
    .swiper{
        width: 100%;
        overflow: hidden;
        @include res('max-width', 1353px);
        @include res('padding-left', 2px);
        @include res('padding-right', 2px);
        @include res('padding-bottom', 2px);
        @include res('padding-top', 2px);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        @include media(576){
            max-width: 100%;
            @include resa('max-width', 248px);
            @include resa('padding-left', 3px);
            @include resa('padding-right', 3px);
            @include resa('padding-bottom', 2px);
            @include resa('padding-top', 2px);
            overflow-y: hidden;
        }
        &-wrapper{
            display: flex;
            width: max-content;
        }
    }
    &__image{
        position: relative;
        line-height: 0;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            line-height: 0;
            border: solid #fff;
            @include res('border-width', 2px);
            @include res('border-radius', 15px);
            @include media(576){
                @include resa('border-radius', 15px);
                @include resa('border-width', 2px);
            }
        }        
    }
    &__buttons{
        display: flex;
        justify-content: space-between;
        width: calc(100% + 4.479vw);
        position: absolute;
        @include res('margin-left', -43px);
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        z-index: 1;
        @include media(576){
            width: 100%;
            margin-left: 0;
        }
    }
    &__btn{
        &-prev{
            cursor: pointer;
            pointer-events: all;
            @include res('width', 43px);
            @include res('height', 43px);
            background: #35B8EB;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: background 300ms ease;
            @include media(576){
                @include resa('width', 33px);
                @include resa('height', 33px);
            }
            &:hover{
                background: #0DA5E0;
            }
            img{
                @include res('width', 10px);
                @include media(576){
                    @include resa('width', 8px);
                }
            }
        }
        &-next{
            cursor: pointer;
            pointer-events: all;
            @include res('width', 43px);
            @include res('height', 43px);
            background: #35B8EB;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: background 300ms ease;
            @include media(576){
                @include resa('width', 33px);
                @include resa('height', 33px);
            }
            &:hover{
                background: #0DA5E0;
            }
            img{
                @include res('width', 10px);
                @include media(576){
                    @include resa('width', 8px);
                }
            }
        }
    }
}