.tabs{
    @include res('padding-top', 100px);
    background: url('../img/tabs-bg.png') center top / cover no-repeat;
    @include res('padding-bottom', 54px);
    position: relative;
    isolation: isolate;
    @include media(576){
        @include resa('padding-top', 34px);
        @include resa('padding-bottom', 0px);
        background: none !important;
    }
    &::before{
        content: '';
        position: absolute;
        @include res('bottom', 0px);
        left: 0;
        @include res('height', 100px);
        background: linear-gradient(360deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
        width: 100%;
        pointer-events: none;
        @include media(576){
            @include resa('top', -100px);
            @include resa('height', 467px);
            bottom: auto;
            z-index: -1;
            background: url('../img/tabs-bg.png') center top / cover no-repeat;
        }
    }
    &__title{
        @include res('margin-bottom', 45px);
        color: #000;
        @include res('font-size', 36px);
        font-style: normal;
        font-weight: 700;
        text-align: center;
        line-height: 120%;
        text-transform: uppercase;
        @include media(576){
            @include resa('margin-bottom', 54px);
            @include resa('font-size', 20px);
            @include resa('line-height', 25px);
        }
    }
    &__top{
        display: flex;
        justify-content: space-between;
        @include res('max-width', 631px);
        margin-left: auto;
        margin-right: auto;
        @include res('padding-top', 27px);
        @include res('padding-bottom', 10px);
        @include res('padding-left', 13px);
        @include res('padding-right', 13px);
        background: rgba(234, 247, 252, 0.85);
        border-radius: 1.0833333333vw 1.0833333333vw 0 0;
        z-index: 1;
        position: relative;
        @include media(576){
            align-items: flex-start;
            justify-content: center;
            @include resa('margin-bottom', -70px);
            @include resa('height', 160px);
            @include resa('width', 280px);
            @include resa('max-width', 280px);
            @include resa('padding-top', 7px);
            @include resa('padding-bottom', 7px);
            @include resa('padding-left', 5px);
            @include resa('padding-right', 5px);
            flex-wrap: wrap;
            border-radius: 5.0833333333vw 5.0833333333vw 0 0;
            background: rgba(234, 247, 252, 1);
        }
    }
    &__btn{
        color: #8E8E8E;
        @include res('font-size', 16px);
        font-style: normal;
        font-weight: 500;
        text-align: center;
        @include res('line-height', 13px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        @include res('max-width', 112px);
        @include res('gap', 12px);
        transition: 300ms ease-out;
        @include res('padding-top', 12px);
        @include res('padding-bottom', 12px);
        @include res('padding-left', 30px);
        @include res('padding-right', 30px);
        cursor: pointer;
        @include res('border-radius', 10px);
        @include media(576){
            @include resa('font-size', 14px);
            @include resa('line-height', 13px);
            @include resa('max-width', 112px);
            @include resa('gap', 3px);
            @include resa('padding-top', 4px);
            @include resa('padding-bottom', 8px);
            @include resa('padding-left', 13px);
            @include resa('padding-right', 13px);
            @include resa('border-radius', 12px);
        }
        svg{
            @include res('width', 52px);
            @include res('height', 38px);
            @include media(576){
                @include resa('width', 31.2px);
                @include resa('height', 34.8px);
            }
        }
        &.active{
            background: #fff;
            color: #35B8EB;
            .stroked{
                path{
                    stroke: #35B8EB;
                }
            }
            .filled{
                fill: #35B8EB;
            }
        }
        .stroked{
            transition: 300ms ease-out;
            path{
                stroke: #8E8E8E;
            }
        }
        .filled{
            transition: 300ms ease-out;
            fill: #8E8E8E;
        }
    }
    &__content{
        @include res('border-radius', 40px);
        background: rgba(234, 247, 252, 0.85);        
        @include res('padding-top', 73px);
        @include res('padding-bottom', 21px);
        @include res('padding-left', 50px);
        @include res('padding-right', 117px);
        position: relative;
        @include media(576){
            @include resa('width', 320px);
            @include resa('margin-left', -15px);
            @include resa('padding-top', 70px);
            @include resa('padding-left', 15px);
            @include resa('padding-right', 15px);
            @include resa('padding-bottom', 28px);
            background: rgba(234, 247, 252, 1);
            border-radius: 5.0833333333vw;
        }
    }
    &__item{
        display: none;
        align-items: center;
        justify-content: space-between;
        @include res('gap', 70px);
        @include res('margin-bottom', 27px);
        @include media(576){
            flex-direction: column;
            @include resa('gap', 27px);
            @include resa('padding-top', 27px);
        }
        &.active{
            display: flex;
        }
        &-slider{
            @include res('width', 647px);
            @include res('height', 472px);
            position: relative;
            @include media(576){
                @include resa('width', 250px);
                @include resa('height', 262px);
            }
        }
        &-swiper{
            overflow: hidden;
            width: 100%;
            height: 100%;
            position: relative;
            @include res('border-radius', 15px);
            @include media(576){
                @include resa('border-radius', 15px);
            }
        }
        &-wrapper{
            display: flex;
            width: max-content;
        }
        &-slide{
            @include media(576){
                @include resa('height', 262px);
                @include resa('border-radius', 15px);
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
        &-title{
            color: #000;
            @include res('font-size', 26px);
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            @include res('margin-bottom', 20px);
            @include media(576){
                @include resa('font-size', 14px);
                @include resa('margin-bottom', 8px);
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        }
        &-p{
            color: #000;
            @include res('font-size', 20px);
            font-style: normal;
            font-weight: 400;
            @include res('line-height', 28px);
            @include res('margin-bottom', 40px);
            @include media(576){
                @include resa('font-size', 14px);
                @include resa('line-height', 24px);
                @include resa('margin-bottom', 12px);
                text-align: center;
            }
        }
        &-sep{
            display: block;
            border-top: solid #35B8EB;
            border-bottom: solid #35B8EB;
            @include res('border-width', 1px);
            @include res('width', 140px);
            @include res('margin-bottom', 40px);
            @include media(576){
                @include resa('border-width', 1px);
                @include resa('margin-bottom', 18px);
                @include resa('width', 140px);
                margin-left: auto;
                margin-right: auto;
            }
        }
        &-info{
            color: #000;
            @include res('font-size', 20px);
            font-style: normal;
            font-weight: 400;
            @include res('line-height', 28px);
            @include media(576){
                @include resa('font-size', 14px);
                @include resa('line-height', 28px);
                @include resa('max-width', 240px);
            }
            &+.tabs__item-info{
                @include res('margin-top', 7px);
                @include media(576){
                    @include resa('margin-top', 6px);
                }
            }
            span{
                font-weight: 600;
            }
        }
    }
    &__navigation{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        pointer-events: none;
        @include res('padding-right', 24px);
        @include res('padding-left', 24px);
        @include media(576){
            padding-right: 0;
            padding-left: 0;
        }
    }
    &__btn-prev,
    &__btn-next{
        @include res('width', 43px);
        @include res('height', 43px);
        pointer-events: all;
        cursor: pointer;
        @include media(576){
            @include resa('width', 33px);
            @include resa('height', 33px);
            @include resa('margin-right', -16.5px);
            @include resa('margin-left', -16.5px);
        }
        svg{
            width: 100%;
            height: 100%;
        }
    }
    &__tel{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include res('gap', 11px);
        color: #000;
        @include res('font-size', 18px);
        font-style: normal;
        font-weight: 500;
        @include res('line-height', 28px);
        @include media(576){
            display: none;
        }
        button{
            color: #35B8EB;
            @include res('font-size', 16px);
            font-style: normal;
            font-weight: 400;
            @include res('line-height', 28px);
        }
        svg{
            @include res('width', 29px);
            @include res('height', 26px);
        }
    }
}

