.videos{
    @include res('padding-top', 115px);
    @include res('padding-bottom', 117px);
    background: url('../img/videos-bg.png') bottom / cover no-repeat;
    position: relative;
    @include media(575){
        @include resa('padding-top',42px);
        background: none !important;
    }
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        background: linear-gradient(360deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
        @include res('bottom', -87px);
        @include res('height', 137px);
        left: 0;
        right: 0;
    }
    &__title{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        @include res('font-size', 36px);
        line-height: 120%;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        isolation: isolate;
        @include res('padding-bottom', 60px);
        @include media(575){
            @include resa('font-size', 20px);
            width: 100%;
            @include resa('padding-left', 84px);
            flex-direction: column;
            align-items: flex-start;
            @include resa('line-height', 16px);
            padding-bottom: 0;
            @include resa('margin-bottom', 33px);
            margin-left: auto;
            margin-right: auto;
        }
        &::before{
            content: '';
            position: absolute;
            @include res('width', 460px);
            @include res('height', 68px);
            @include res('border-radius', 34px);
            background: #92D9F5;
            @include res('left', -29px);
            @include res('top', 20px);
            z-index: -1;
            @include media(575){
                top: 0;
                bottom: auto;
                width: 100%;
                @include resa('height', 45px);
                @include resa('border-radius', 41px);
            }
        }
        &::after{
            content: '';
            position: absolute;
            background: url(../img/videos-arrow-down.svg) center / cover no-repeat;
            @include res('width', 39px);
            @include res('height', 52px);
            @include res('top', 87px);
            @include res('left', 20px);
            z-index: -1;
            @include media(575){
                display: none;
            }
        }
        br{
            display: none;
            @include media(575){
                display: block;
            }
        }
        img{
            @include res('margin-right', 17px);
            @include res('width', 102px);
            @include res('height', 100px);
            @include media(575){
                position: absolute;
                @include resa('width', 58px);
                @include resa('height', 60px);
                @include resa('top', -13px);
                @include resa('left', 5px);
            }
        }
        span{
            @include res('margin-right', 25px);
            color: #FFF;
            @include media(575){
                width: 100%;
                display: block;
                @include resa('line-height', 47px);
            }
        }
    }
    &__row{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        @include media(575){
            flex-direction: column;
            align-items: stretch;
        }
    }
    &__img{
        @include res('max-width', 706px);
        width: 100%;
        @include res('border-radius', 40px);
        overflow: hidden;
        @include res('margin-right', 89px);
        @include media(575){
            max-width: 100%;
            @include resa('padding', 16px);
            @include resa('border-radius', 24px);
            background: #EAF7FC;
            margin-right: 0;
        }
        img{
            width: 100%;
            @include media(575){
                @include resa('border-radius', 10px);
            }
        }
    }
    &__content{
        @include res('max-width', 565px);
        width: 100%;
        @include res('border-radius', 43px);
        background: #FFF;
        @include res('padding-top', 29px);
        @include res('padding-right', 29px);
        @include res('padding-bottom', 58px);
        @include res('padding-left', 19px);
        position: relative;
        isolation: isolate;
        @include media(575){
            background: #EAF7FC;
            @include resa('border-radius', 15px);
            max-width: 100%;
            padding-top: 0;
            @include resa('padding-right', 22px);
            @include resa('padding-bottom', 22px);
            @include resa('padding-left', 22px);
        }
        @include media(575){
            @include resa('margin-top', 30px);
        }
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            @include res('left', -89px);
            background: url(../img/videos-triangle.svg) center / cover no-repeat;
            @include res('width', 142px);
            @include res('height', 99px);
            @include media(575){
                background: url(../img/videos-triangle-sm.svg) center / cover no-repeat;
                @include resa('top', -32px);
                transform: translateY(0);
                transform: translateX(-50%);
                left: 50%;
                @include resa('width', 99px);
                @include resa('height', 42px);
                z-index: -1;
            }
        }
    }
    &__profile{
        display: flex;
        align-items: flex-start;
        @include res('margin-bottom', 55px);
        @include media(575){
            flex-direction: column;
            align-items: center;
        }
        &-img{
            @include res('margin-right', 20px);
            @include res('width', 54px);
            @include res('height', 54px);
            border: solid #35B8EB;
            border-radius: 50%;
            @include res('border-width', 5px);
            @include media(575){
                @include resa('width', 56px);
                @include resa('height', 56px);
                @include resa('border-width', 5px);
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    &__name{
        color: #000;
        @include res('font-size', 18px);
        @include res('line-height', 29px);
        font-style: normal;
        font-weight: 600;
        @include media(575){
            @include resa('margin-top', 2px);
            @include resa('font-size', 14px);
            @include resa('line-height', 28px);
        }
    }
    &__date{
        color: #A7A7A7;
        @include res('font-size', 15px);
        line-height: 120%;
        font-style: normal;
        font-weight: 400;
        @include media(575){
            @include resa('font-size', 14px);
            text-align: center;
            @include resa('margin-bottom', 26px);
        }
    }
    &__desc{
        color: #000;
        @include res('font-size', 20px);
        @include res('line-height', 28px);
        font-style: normal;
        font-weight: 400;
        @include res('max-width', 473px);
        width: 100%;
        margin-left: auto;
        margin-right: 0;
        position: relative;
        @include res('margin-bottom', 16px);
        @include media(575){
            max-width: 100%;
            margin-left: 0;
            @include resa('font-size', 14px);
            @include resa('line-height', 24px);
            @include resa('margin-bottom', 31px);
        }
        &::before{
            content: '';
            position: absolute;
            background: url(../img/open-quotes.svg) center / cover no-repeat;
            @include res('width', 33px);
            @include res('height', 26px);
            @include res('left', -43px);
            @include res('top', -20px);
            @include media(575){
                @include resa('width', 28px);
                @include resa('height', 22px);
                @include resa('top', -36px);
                left: 0;
            }
        }
        &::after{
            content: '';
            position: absolute;
            background: url(../img/close-quotes.svg) center / cover no-repeat;
            @include res('width', 33px);
            @include res('height', 26px);
            right: 0;
            @include res('bottom', -26px);
            @include media(575){
                @include resa('width', 28px);
                @include resa('height', 22px);
                @include resa('bottom', -37px);
                right: 0;
            }
        }
    }
    &__rating{
        display: flex;
        align-items: center;
        @include res('margin-left', 48px);
        @include media(575){
            margin-left: 0;
        }
        &-img{
            @include res('width', 45px);
            @include res('height', 45px);
            @include res('margin-right', 7px);
            @include media(575){
                @include resa('width', 45px);
                @include resa('height', 45px);
                @include resa('margin-right', 6px);
            }
            img{
                width: 100%;
                transform: rotate(-16deg);
            }
        }
    }
    &__stars{
        display: flex;
        align-items: center;
    }
    &__star{
        @include res('width', 26px);
        @include res('height', 26px);
        display: flex;
        align-items: center;
        justify-content: center;
        @include media(575){
            @include resa('width', 26px);
            @include resa('height', 26px);
        }
        img{
            width: 100%;
            height: 100%;
        }
        &:not(:last-of-type){
            @include res('margin-right', 1px);
        }
    }
}