mixin features()
    .features 
        .features__body.container 
            h2.features__title ОСОБЕННОСТИ ГОСТЕВОГО КОМПЛЕКСА
            .features__content 
                .features__row 
                    .features__left 
                        p.features__subtitle 
                            <svg class="disable-sm" width="31" height="24" viewBox="0 0 31 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M26.5327 0L30.5 4.22706L11.9414 24L0.5 11.8102L4.46733 7.58319L11.9414 15.546L26.5327 0Z" fill="#35B8EB"/>
                            </svg>
                            <svg class="enable-sm" width="19" height="11" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.2831 2.01595L10.0151 9.91596C9.91665 10.0097 9.81002 10.076 9.69519 10.1148C9.58036 10.1541 9.45732 10.1738 9.32608 10.1738C9.19484 10.1738 9.07181 10.1541 8.95698 10.1148C8.84214 10.076 8.73551 10.0097 8.63708 9.91596L0.344499 2.01595C0.114833 1.79715 1.03152e-07 1.52366 1.07066e-07 1.19547C1.10979e-07 0.867281 0.123036 0.585975 0.369106 0.351553C0.615177 0.117131 0.90226 -8.00979e-05 1.23035 -8.0094e-05C1.55845 -8.00901e-05 1.84553 0.117131 2.0916 0.351553L9.32608 7.24356L16.5606 0.351553C16.7902 0.132759 17.073 0.0233624 17.409 0.0233624C17.7456 0.0233624 18.037 0.140574 18.2831 0.374995C18.5291 0.609417 18.6522 0.882909 18.6522 1.19547C18.6522 1.50803 18.5291 1.78153 18.2831 2.01595Z" fill="#35B8EB"/>
                            </svg>
                            | ТОЛЬКО ВЫ И ПРИРОДА!
                        p.features__desc Аренда коттеджа на берегу озера в Карелии - лучший выбор для тех, кто любит проводить каникулы или отпуск на природе. Уникальные пейзажи, первозданная тишина и шикарный вид на одно из красивейших карельских озер никого не оставят равнодушным. Эти края всегда привлекали знаменитых художников и кинематографистов, а теперь они ждут именно Вас.
                    .features__image 
                        img(src="@img/features-1.png", alt="" draggable="false")
                .features__row 
                    .features__left 
                        p.features__subtitle 
                            <svg class="disable-sm" width="31" height="24" viewBox="0 0 31 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M26.5327 0L30.5 4.22706L11.9414 24L0.5 11.8102L4.46733 7.58319L11.9414 15.546L26.5327 0Z" fill="#35B8EB"/>
                            </svg>
                            <svg class="enable-sm" width="19" height="11" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.2831 2.01595L10.0151 9.91596C9.91665 10.0097 9.81002 10.076 9.69519 10.1148C9.58036 10.1541 9.45732 10.1738 9.32608 10.1738C9.19484 10.1738 9.07181 10.1541 8.95698 10.1148C8.84214 10.076 8.73551 10.0097 8.63708 9.91596L0.344499 2.01595C0.114833 1.79715 1.03152e-07 1.52366 1.07066e-07 1.19547C1.10979e-07 0.867281 0.123036 0.585975 0.369106 0.351553C0.615177 0.117131 0.90226 -8.00979e-05 1.23035 -8.0094e-05C1.55845 -8.00901e-05 1.84553 0.117131 2.0916 0.351553L9.32608 7.24356L16.5606 0.351553C16.7902 0.132759 17.073 0.0233624 17.409 0.0233624C17.7456 0.0233624 18.037 0.140574 18.2831 0.374995C18.5291 0.609417 18.6522 0.882909 18.6522 1.19547C18.6522 1.50803 18.5291 1.78153 18.2831 2.01595Z" fill="#35B8EB"/>
                            </svg>
                            | КАЖДЫЙ КОТТЕДЖ - КАК ЛИЧНЫЙ ЗАГОРОДНЫЙ ДОМ
                        p.features__desc Большая частная территория гостевого комплекса позволяет разместить коттеджи в радиусе километра друг от друга, что позволит Вам отдыхать в свое удовольствие. Отсутствие стойки ресепшена позволит Вам ощутить себя полноправным хозяином этого места, и полностью погрузиться в атмосферу собственного загородного дома.
                    .features__image 
                        img(src="@img/features-2.png", alt="" draggable="false")
                .features__row 
                    .features__left 
                        p.features__subtitle 
                            <svg class="disable-sm" width="31" height="24" viewBox="0 0 31 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M26.5327 0L30.5 4.22706L11.9414 24L0.5 11.8102L4.46733 7.58319L11.9414 15.546L26.5327 0Z" fill="#35B8EB"/>
                            </svg>
                            <svg class="enable-sm" width="19" height="11" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.2831 2.01595L10.0151 9.91596C9.91665 10.0097 9.81002 10.076 9.69519 10.1148C9.58036 10.1541 9.45732 10.1738 9.32608 10.1738C9.19484 10.1738 9.07181 10.1541 8.95698 10.1148C8.84214 10.076 8.73551 10.0097 8.63708 9.91596L0.344499 2.01595C0.114833 1.79715 1.03152e-07 1.52366 1.07066e-07 1.19547C1.10979e-07 0.867281 0.123036 0.585975 0.369106 0.351553C0.615177 0.117131 0.90226 -8.00979e-05 1.23035 -8.0094e-05C1.55845 -8.00901e-05 1.84553 0.117131 2.0916 0.351553L9.32608 7.24356L16.5606 0.351553C16.7902 0.132759 17.073 0.0233624 17.409 0.0233624C17.7456 0.0233624 18.037 0.140574 18.2831 0.374995C18.5291 0.609417 18.6522 0.882909 18.6522 1.19547C18.6522 1.50803 18.5291 1.78153 18.2831 2.01595Z" fill="#35B8EB"/>
                            </svg>
                            | УНИКАЛЬНАЯ ЭКОСИСТЕМА
                        p.features__desc Арендуя гостевой дом на берегу озера, Вы получаете в придачу чистейший и ароматный лесной воздух, песчаный пляж озера с кристально прозрачной водой, и все это в окружении живописного соснового бора. Погрузитесь в волшебную лесную сказку в домике на берегу!
                    .features__image 
                        img(src="@img/features-3.png", alt="" draggable="false")
            .features__items 
                .features__item 
                    .features__img 
                        img(src="@img/features-img-1.svg", alt="" draggable="false")
                    p.features__p Бесплатный Wi-Fi
                .features__item 
                    .features__img 
                        img(src="@img/features-img-2.svg", alt="" draggable="false")
                    p.features__p Холодильник
                .features__item 
                    .features__img 
                        img(src="@img/features-img-3.svg", alt="" draggable="false")
                    p.features__p Парковка
                .features__item 
                    .features__img 
                        img(src="@img/features-img-4.svg", alt="" draggable="false")
                    p.features__p ТВ
                .features__item 
                    .features__img 
                        img(src="@img/features-img-5.svg", alt="" draggable="false")
                    p.features__p Можно с животными
                .features__item 
                    .features__img 
                        img(src="@img/features-img-6.svg", alt="" draggable="false")
                    p.features__p Пляж #[span (первая линия)]
                .features__item 
                    .features__img 
                        img(src="@img/features-img-7.svg", alt="" draggable="false")
                    p.features__p ПРОКАТ ЛОДОК
