mixin features()
    .features 
        .features__body.container 
            h2.features__title ОСОБЕННОСТИ ГОСТЕВОГО КОМПЛЕКСА
            .features__content 
                .features__row 
                    .features__left 
                        p.features__subtitle 
                            <svg width="31" height="24" viewBox="0 0 31 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M26.5327 0L30.5 4.22706L11.9414 24L0.5 11.8102L4.46733 7.58319L11.9414 15.546L26.5327 0Z" fill="#35B8EB"/>
                            </svg>
                            | ТОЛЬКО ВЫ И ПРИРОДА!
                        p.features__desc Аренда коттеджа на берегу озера в Карелии - лучший выбор для тех, кто любит проводить каникулы или отпуск на природе. Уникальные пейзажи, первозданная тишина и шикарный вид на одно из красивейших карельских озер никого не оставят равнодушным. Эти края всегда привлекали знаменитых художников и кинематографистов, а теперь они ждут именно Вас.
                    .features__image 
                        img(src="@img/features-1.png", alt="" draggable="false")
                .features__row 
                    .features__left 
                        p.features__subtitle 
                            <svg width="31" height="24" viewBox="0 0 31 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M26.5327 0L30.5 4.22706L11.9414 24L0.5 11.8102L4.46733 7.58319L11.9414 15.546L26.5327 0Z" fill="#35B8EB"/>
                            </svg>
                            | КАЖДЫЙ КОТТЕДЖ - КАК ЛИЧНЫЙ ЗАГОРОДНЫЙ ДОМ
                        p.features__desc Большая частная территория гостевого комплекса позволяет разместить коттеджи в радиусе километра друг от друга, что позволит Вам отдыхать в свое удовольствие. Отсутствие стойки ресепшена позволит Вам ощутить себя полноправным хозяином этого места, и полностью погрузиться в атмосферу собственного загородного дома.
                    .features__image 
                        img(src="@img/features-2.png", alt="" draggable="false")
                .features__row 
                    .features__left 
                        p.features__subtitle 
                            <svg width="31" height="24" viewBox="0 0 31 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M26.5327 0L30.5 4.22706L11.9414 24L0.5 11.8102L4.46733 7.58319L11.9414 15.546L26.5327 0Z" fill="#35B8EB"/>
                            </svg>
                            | УНИКАЛЬНАЯ ЭКОСИСТЕМА
                        p.features__desc Арендуя гостевой дом на берегу озера, Вы получаете в придачу чистейший и ароматный лесной воздух, песчаный пляж озера с кристально прозрачной водой, и все это в окружении живописного соснового бора. Погрузитесь в волшебную лесную сказку в домике на берегу!
                    .features__image 
                        img(src="@img/features-3.png", alt="" draggable="false")
            .features__items 
                .features__item 
                    .features__img 
                        img(src="@img/features-img-1.svg", alt="" draggable="false")
                    p.features__p Бесплатный Wi-Fi
                .features__item 
                    .features__img 
                        img(src="@img/features-img-2.svg", alt="" draggable="false")
                    p.features__p Холодильник
                .features__item 
                    .features__img 
                        img(src="@img/features-img-3.svg", alt="" draggable="false")
                    p.features__p Парковка
                .features__item 
                    .features__img 
                        img(src="@img/features-img-4.svg", alt="" draggable="false")
                    p.features__p ТВ
                .features__item 
                    .features__img 
                        img(src="@img/features-img-5.svg", alt="" draggable="false")
                    p.features__p Можно с животными
                .features__item 
                    .features__img 
                        img(src="@img/features-img-6.svg", alt="" draggable="false")
                    p.features__p Пляж #[span (первая линия)]
                .features__item 
                    .features__img 
                        img(src="@img/features-img-7.svg", alt="" draggable="false")
                    p.features__p ПРОКАТ ЛОДОК
