mixin guests()
    .guests 
        .guests__body.container 
            a(href="#!").guests__link.enable-sm Аппартаменты
            h2.guests__title ГОСТЕВЫЕ ДОМА НА БЕРЕГУ ОЗЕР КАРЕЛИИ
            a(href="#!").guests__link.disable-sm Аппартаменты
            .guests__row 
                a(href="https://youtube.com").guests__img 
                    img(src="@img/guests-img.png", alt="" draggable="false")
                .guests__right 
                    p.guests__p Наши уютные коттеджи занимают территорию в 1 гектар и находятся в тихом местечке на берегу живописного озера Сямозеро. Благодаря панорамным окнам на западной стороне, вы сможете насладиться захватывающим видом на озеро и неповторимыми карельскими закатами. Расстояние от Санкт-Петербурга составляет 500 км, а от Москвы - 1100 км. 
                    p.guests__p Коттеджи "Закат" рассчитаны на размещение до 6 человек и расположены на западной стороне мыса, в то время как коттеджи "Восход" предназначены для 4 человек и находятся на восточной стороне. Все объекты находятся на первой береговой линии, расстояние до которой составляет не более 20 метров. 
                    a(href="#!").guests__a Далее 
                    a(href="#!").guests__btn Отзывы 
            .guests__content 
                .guests__top 
                    button(type="button" data-target="#firstItem").guests__button.active
                        img(src="@img/guests-img-1.png", alt="" draggable="false").guests__image
                        | Гарантия заселения
                        <svg class="guests__arrow" width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.2831 2.92903L10.0151 10.829C9.91665 10.9228 9.81002 10.9891 9.69519 11.0278C9.58036 11.0672 9.45732 11.0869 9.32608 11.0869C9.19484 11.0869 9.07181 11.0672 8.95698 11.0278C8.84214 10.9891 8.73551 10.9228 8.63708 10.829L0.344499 2.92903C0.114833 2.71024 -3.78111e-07 2.43675 -3.92456e-07 2.10856C-4.06802e-07 1.78037 0.123035 1.49906 0.369106 1.26464C0.615176 1.03022 0.902259 0.913006 1.23035 0.913006C1.55845 0.913006 1.84553 1.03022 2.0916 1.26464L9.32608 8.15664L16.5606 1.26464C16.7902 1.04584 17.073 0.936447 17.409 0.936447C17.7456 0.936447 18.037 1.05366 18.2831 1.28808C18.5291 1.5225 18.6522 1.79599 18.6522 2.10856C18.6522 2.42112 18.5291 2.69461 18.2831 2.92903Z" fill=""/>
                        </svg>
                    button(type="button" data-target="#secondItem ").guests__button
                        img(src="@img/guests-img-2.png", alt="" draggable="false").guests__image
                        | Прямое общение с объектом
                        <svg class="guests__arrow" width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.2831 2.92903L10.0151 10.829C9.91665 10.9228 9.81002 10.9891 9.69519 11.0278C9.58036 11.0672 9.45732 11.0869 9.32608 11.0869C9.19484 11.0869 9.07181 11.0672 8.95698 11.0278C8.84214 10.9891 8.73551 10.9228 8.63708 10.829L0.344499 2.92903C0.114833 2.71024 -3.78111e-07 2.43675 -3.92456e-07 2.10856C-4.06802e-07 1.78037 0.123035 1.49906 0.369106 1.26464C0.615176 1.03022 0.902259 0.913006 1.23035 0.913006C1.55845 0.913006 1.84553 1.03022 2.0916 1.26464L9.32608 8.15664L16.5606 1.26464C16.7902 1.04584 17.073 0.936447 17.409 0.936447C17.7456 0.936447 18.037 1.05366 18.2831 1.28808C18.5291 1.5225 18.6522 1.79599 18.6522 2.10856C18.6522 2.42112 18.5291 2.69461 18.2831 2.92903Z" fill=""/>
                        </svg>
                    button(type="button" data-target="#thirdItem ").guests__button
                        img(src="@img/guests-img-3.png", alt="" draggable="false").guests__image
                        | Рекомендовано travel-блогерами
                        <svg class="guests__arrow" width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.2831 2.92903L10.0151 10.829C9.91665 10.9228 9.81002 10.9891 9.69519 11.0278C9.58036 11.0672 9.45732 11.0869 9.32608 11.0869C9.19484 11.0869 9.07181 11.0672 8.95698 11.0278C8.84214 10.9891 8.73551 10.9228 8.63708 10.829L0.344499 2.92903C0.114833 2.71024 -3.78111e-07 2.43675 -3.92456e-07 2.10856C-4.06802e-07 1.78037 0.123035 1.49906 0.369106 1.26464C0.615176 1.03022 0.902259 0.913006 1.23035 0.913006C1.55845 0.913006 1.84553 1.03022 2.0916 1.26464L9.32608 8.15664L16.5606 1.26464C16.7902 1.04584 17.073 0.936447 17.409 0.936447C17.7456 0.936447 18.037 1.05366 18.2831 1.28808C18.5291 1.5225 18.6522 1.79599 18.6522 2.10856C18.6522 2.42112 18.5291 2.69461 18.2831 2.92903Z" fill=""/>
                        </svg>
                .guests__bottom 
                    .guests__item.active#firstItem 
                        p.guests__desc Коттеджи "Закат" рассчитаны на размещение до 6 человек и расположены на западной стороне мыса, в то время как коттеджи "Восход" предназначены для 4 человек и находятся на восточной стороне. Все объекты находятся на первой береговой линии, расстояние до которой составляет не более 20 метров. 
                    .guests__item#secondItem 
                        p.guests__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis aliquid asperiores quod, minima, illo quae quis iure tempore ut expedita deleniti. Dolores ratione, repudiandae eum omnis doloribus itaque vitae ipsam.
                    .guests__item#thirdItem 
                        p.guests__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa accusamus magnam quasi quaerat reiciendis cum quibusdam facilis quidem sed! Et dolore libero ducimus beatae reprehenderit sunt nihil eveniet eum labore.
                .accordion
                    button(type="button").accordion__button.guests__button
                        img(src="@img/guests-img-1.png", alt="" draggable="false").guests__image
                        | Гарантия заселения
                        <svg class="guests__arrow" width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.2831 2.92903L10.0151 10.829C9.91665 10.9228 9.81002 10.9891 9.69519 11.0278C9.58036 11.0672 9.45732 11.0869 9.32608 11.0869C9.19484 11.0869 9.07181 11.0672 8.95698 11.0278C8.84214 10.9891 8.73551 10.9228 8.63708 10.829L0.344499 2.92903C0.114833 2.71024 -3.78111e-07 2.43675 -3.92456e-07 2.10856C-4.06802e-07 1.78037 0.123035 1.49906 0.369106 1.26464C0.615176 1.03022 0.902259 0.913006 1.23035 0.913006C1.55845 0.913006 1.84553 1.03022 2.0916 1.26464L9.32608 8.15664L16.5606 1.26464C16.7902 1.04584 17.073 0.936447 17.409 0.936447C17.7456 0.936447 18.037 1.05366 18.2831 1.28808C18.5291 1.5225 18.6522 1.79599 18.6522 2.10856C18.6522 2.42112 18.5291 2.69461 18.2831 2.92903Z" fill=""/>
                        </svg>
                    .accordion__content     
                        p.guests__desc Коттеджи "Закат" рассчитаны на размещение до 6 человек и расположены на западной стороне мыса, в то время как коттеджи "Восход" предназначены для 4 человек и находятся на восточной стороне. Все объекты находятся на первой береговой линии, расстояние до которой составляет не более 20 метров. 
                .accordion
                    button(type="button").accordion__button.guests__button
                        img(src="@img/guests-img-2.png", alt="" draggable="false").guests__image
                        | Прямое общение с объектом
                        <svg class="guests__arrow" width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.2831 2.92903L10.0151 10.829C9.91665 10.9228 9.81002 10.9891 9.69519 11.0278C9.58036 11.0672 9.45732 11.0869 9.32608 11.0869C9.19484 11.0869 9.07181 11.0672 8.95698 11.0278C8.84214 10.9891 8.73551 10.9228 8.63708 10.829L0.344499 2.92903C0.114833 2.71024 -3.78111e-07 2.43675 -3.92456e-07 2.10856C-4.06802e-07 1.78037 0.123035 1.49906 0.369106 1.26464C0.615176 1.03022 0.902259 0.913006 1.23035 0.913006C1.55845 0.913006 1.84553 1.03022 2.0916 1.26464L9.32608 8.15664L16.5606 1.26464C16.7902 1.04584 17.073 0.936447 17.409 0.936447C17.7456 0.936447 18.037 1.05366 18.2831 1.28808C18.5291 1.5225 18.6522 1.79599 18.6522 2.10856C18.6522 2.42112 18.5291 2.69461 18.2831 2.92903Z" fill=""/>
                        </svg>
                    .accordion__content     
                        p.guests__desc Коттеджи "Закат" рассчитаны на размещение до 6 человек и расположены на западной стороне мыса, в то время как коттеджи "Восход" предназначены для 4 человек и находятся на восточной стороне. Все объекты находятся на первой береговой линии, расстояние до которой составляет не более 20 метров. 
                .accordion
                    button(type="button").accordion__button.guests__button
                        img(src="@img/guests-img-3.png", alt="" draggable="false").guests__image
                        | Рекомендовано travel-блогерами
                        <svg class="guests__arrow" width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.2831 2.92903L10.0151 10.829C9.91665 10.9228 9.81002 10.9891 9.69519 11.0278C9.58036 11.0672 9.45732 11.0869 9.32608 11.0869C9.19484 11.0869 9.07181 11.0672 8.95698 11.0278C8.84214 10.9891 8.73551 10.9228 8.63708 10.829L0.344499 2.92903C0.114833 2.71024 -3.78111e-07 2.43675 -3.92456e-07 2.10856C-4.06802e-07 1.78037 0.123035 1.49906 0.369106 1.26464C0.615176 1.03022 0.902259 0.913006 1.23035 0.913006C1.55845 0.913006 1.84553 1.03022 2.0916 1.26464L9.32608 8.15664L16.5606 1.26464C16.7902 1.04584 17.073 0.936447 17.409 0.936447C17.7456 0.936447 18.037 1.05366 18.2831 1.28808C18.5291 1.5225 18.6522 1.79599 18.6522 2.10856C18.6522 2.42112 18.5291 2.69461 18.2831 2.92903Z" fill=""/>
                        </svg>
                    .accordion__content     
                        p.guests__desc Коттеджи "Закат" рассчитаны на размещение до 6 человек и расположены на западной стороне мыса, в то время как коттеджи "Восход" предназначены для 4 человек и находятся на восточной стороне. Все объекты находятся на первой береговой линии, расстояние до которой составляет не более 20 метров. 