mixin header()
    header.header 
        .header__nav.container
            .header__left 
                a(href="index.html").logo 
                    img(src="@img/logo.svg", alt="" draggable="false") 
                p.header__discount КЭШБЭК 30%
            .menu 
                .menu-btn
            ul.header__content
                li.header__li.disable 
                    a(href="#!").header__link БЛОГ
                .header__dropdown 
                    button(type="button").header__dropdown-btn RU 
                        <svg width="19" height="11" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.2831 2.01603L10.0151 9.91605C9.91665 10.0098 9.81002 10.0761 9.69519 10.1148C9.58036 10.1542 9.45732 10.1739 9.32608 10.1739C9.19484 10.1739 9.07181 10.1542 8.95698 10.1148C8.84214 10.0761 8.73551 10.0098 8.63708 9.91605L0.344499 2.01603C0.114833 1.79724 -3.78111e-07 1.52375 -3.92456e-07 1.19555C-4.06802e-07 0.867365 0.123035 0.586059 0.369106 0.351637C0.615176 0.117215 0.902259 3.77539e-06 1.23035 3.76109e-06C1.55845 3.7468e-06 1.84553 0.117215 2.0916 0.351637L9.32608 7.24364L16.5606 0.351636C16.7902 0.132842 17.073 0.0234453 17.409 0.0234453C17.7456 0.0234453 18.037 0.140657 18.2831 0.375078C18.5291 0.6095 18.6522 0.882992 18.6522 1.19555C18.6522 1.50812 18.5291 1.78161 18.2831 2.01603Z" fill="#35B8EB"/>
                        </svg>
                    .header__dropdown-content 
                        button(type="button").header__dropdown-p EN
                li.header__li.last #[button(type="button").header__link.btn войти] | #[button(type="button").header__link.btn регистрация]
                .header__list 
                    li.header__li
                        a(href="#!").header__a особенности комплекса 
                    li.header__li
                        a(href="#!").header__a варианты размещения 
                    li.header__li
                        a(href="#!").header__a акция
                    li.header__li
                        a(href="#!").header__a отзывы
                    li.header__li
                        a(href="#!").header__a вопросы
                    li.header__li
                        a(href="#!").header__a контакты
                    li.header__li
                        a(href="#!").header__a Блог
                li.header__li.last.tac #[button(type="button").header__link.btn en] | #[button(type="button").header__link.btn ru]