mixin info()    
    .info
        .info__body.container 
            h2.info__title Коттедж «Закат 2»
            .info__top 
                .info__top-left
                    .info__rating 
                        <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26.3818 9.58627L16.9325 8.96342L13.3739 0L9.81532 8.96342L0.376465 9.58627L7.61599 15.7494L5.24037 25.0984L13.3739 19.9439L21.5075 25.0984L19.1319 15.7494L26.3818 9.58627Z" fill="#4BCDFF"/>
                        </svg>
                        <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26.3818 9.58627L16.9325 8.96342L13.3739 0L9.81532 8.96342L0.376465 9.58627L7.61599 15.7494L5.24037 25.0984L13.3739 19.9439L21.5075 25.0984L19.1319 15.7494L26.3818 9.58627Z" fill="#4BCDFF"/>
                        </svg>
                        <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26.3818 9.58627L16.9325 8.96342L13.3739 0L9.81532 8.96342L0.376465 9.58627L7.61599 15.7494L5.24037 25.0984L13.3739 19.9439L21.5075 25.0984L19.1319 15.7494L26.3818 9.58627Z" fill="#4BCDFF"/>
                        </svg>
                        <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26.3818 9.58627L16.9325 8.96342L13.3739 0L9.81532 8.96342L0.376465 9.58627L7.61599 15.7494L5.24037 25.0984L13.3739 19.9439L21.5075 25.0984L19.1319 15.7494L26.3818 9.58627Z" fill="#4BCDFF"/>
                        </svg>
                        <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26.0151 9.58627L16.5658 8.96342L13.0072 0L9.44862 8.96342L0.00976562 9.58627L7.24929 15.7494L4.87367 25.0984L13.0072 19.9439L21.1408 25.0984L18.7652 15.7494L26.0151 9.58627Z" fill="#DADADA"/>
                        <path d="M13.0881 1.33569L15.0427 6.0986V15V20.5955L13.3481 19.5215L13.0805 19.3519L12.8128 19.5215L5.74111 24.0032L7.80714 15.8725L7.88386 15.5706L7.64665 15.3687L1.34512 10.0041L9.55479 9.46233L9.87001 9.44153L9.98658 9.14791L13.0881 1.33569Z" fill="#4BCDFF" stroke="#4BCDFF"/>
                        </svg>
                        | 4.7
                    .info__warning Осталось всего 4 объекта
                .info__list 
                    p.info__list-p Площадь: 55м2
                    p.info__list-p 6 спальных мест (2 спальные комнаты)
                    p.info__list-p санузел
                .info__right 
                    button(type='button').info__heart
                        <svg width="33" height="30" viewBox="0 0 33 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.95429 2C5.56135 2 2 5.73041 2 10.3319C2 18.6638 11.4005 26.2382 16.4623 28C21.5242 26.2382 30.9247 18.6638 30.9247 10.3319C30.9247 5.73041 27.3633 2 22.9704 2C20.2804 2 17.9013 3.399 16.4623 5.54029C15.7289 4.44594 14.7545 3.55283 13.6216 2.93657C12.4887 2.32031 11.2308 1.99906 9.95429 2Z" stroke="#35B8EB" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    button(type='button').info__send 
                        <svg width="27" height="34" viewBox="0 0 27 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.0157 12.3846H21.8833C22.6438 12.3846 23.3732 12.6885 23.9109 13.2295C24.4487 13.7705 24.7508 14.5042 24.7508 15.2692V29.1154C24.7508 29.8804 24.4487 30.6141 23.9109 31.1551C23.3732 31.6961 22.6438 32 21.8833 32H4.67808C3.91756 32 3.18819 31.6961 2.65043 31.1551C2.11266 30.6141 1.81055 29.8804 1.81055 29.1154V15.2692C1.81055 14.5042 2.11266 13.7705 2.65043 13.2295C3.18819 12.6885 3.91756 12.3846 4.67808 12.3846H7.54561M19.0157 7.76923L13.2807 2M13.2807 2L7.54561 7.76923M13.2807 2V21.6875" stroke="#35B8EB" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
