mixin info()    
    .info
        .info__body.container 
            h2.info__title Коттедж «Закат 2»
            .info__top 
                .info__top-left
                    .info__rating 
                        <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26.3818 9.58627L16.9325 8.96342L13.3739 0L9.81532 8.96342L0.376465 9.58627L7.61599 15.7494L5.24037 25.0984L13.3739 19.9439L21.5075 25.0984L19.1319 15.7494L26.3818 9.58627Z" fill="#4BCDFF"/>
                        </svg>
                        <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26.3818 9.58627L16.9325 8.96342L13.3739 0L9.81532 8.96342L0.376465 9.58627L7.61599 15.7494L5.24037 25.0984L13.3739 19.9439L21.5075 25.0984L19.1319 15.7494L26.3818 9.58627Z" fill="#4BCDFF"/>
                        </svg>
                        <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26.3818 9.58627L16.9325 8.96342L13.3739 0L9.81532 8.96342L0.376465 9.58627L7.61599 15.7494L5.24037 25.0984L13.3739 19.9439L21.5075 25.0984L19.1319 15.7494L26.3818 9.58627Z" fill="#4BCDFF"/>
                        </svg>
                        <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26.3818 9.58627L16.9325 8.96342L13.3739 0L9.81532 8.96342L0.376465 9.58627L7.61599 15.7494L5.24037 25.0984L13.3739 19.9439L21.5075 25.0984L19.1319 15.7494L26.3818 9.58627Z" fill="#4BCDFF"/>
                        </svg>
                        <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26.0151 9.58627L16.5658 8.96342L13.0072 0L9.44862 8.96342L0.00976562 9.58627L7.24929 15.7494L4.87367 25.0984L13.0072 19.9439L21.1408 25.0984L18.7652 15.7494L26.0151 9.58627Z" fill="#DADADA"/>
                        <path d="M13.0881 1.33569L15.0427 6.0986V15V20.5955L13.3481 19.5215L13.0805 19.3519L12.8128 19.5215L5.74111 24.0032L7.80714 15.8725L7.88386 15.5706L7.64665 15.3687L1.34512 10.0041L9.55479 9.46233L9.87001 9.44153L9.98658 9.14791L13.0881 1.33569Z" fill="#4BCDFF" stroke="#4BCDFF"/>
                        </svg>
                        span 4.7
                    .info__warning Осталось всего 4 объекта
                .info__list 
                    p.info__list-p Площадь: 55м2
                    p.info__list-p 6 спальных мест (2 спальные комнаты)
                    p.info__list-p санузел
                .info__right 
                    button(type='button').info__heart
                        <svg width="33" height="30" viewBox="0 0 33 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.95429 2C5.56135 2 2 5.73041 2 10.3319C2 18.6638 11.4005 26.2382 16.4623 28C21.5242 26.2382 30.9247 18.6638 30.9247 10.3319C30.9247 5.73041 27.3633 2 22.9704 2C20.2804 2 17.9013 3.399 16.4623 5.54029C15.7289 4.44594 14.7545 3.55283 13.6216 2.93657C12.4887 2.32031 11.2308 1.99906 9.95429 2Z" stroke="#35B8EB" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    button(type='button').info__send 
                        <svg width="27" height="34" viewBox="0 0 27 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.0157 12.3846H21.8833C22.6438 12.3846 23.3732 12.6885 23.9109 13.2295C24.4487 13.7705 24.7508 14.5042 24.7508 15.2692V29.1154C24.7508 29.8804 24.4487 30.6141 23.9109 31.1551C23.3732 31.6961 22.6438 32 21.8833 32H4.67808C3.91756 32 3.18819 31.6961 2.65043 31.1551C2.11266 30.6141 1.81055 29.8804 1.81055 29.1154V15.2692C1.81055 14.5042 2.11266 13.7705 2.65043 13.2295C3.18819 12.6885 3.91756 12.3846 4.67808 12.3846H7.54561M19.0157 7.76923L13.2807 2M13.2807 2L7.54561 7.76923M13.2807 2V21.6875" stroke="#35B8EB" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
            .info__slider 
                .info__swiper.swiper 
                    .info__wrapper.swiper-wrapper 
                        .info__slide.swiper-slide 
                            img(src="@img/info-1.png", alt="" draggable="false")
                        .info__slide.swiper-slide 
                            img(src="@img/info-2.png", alt="" draggable="false")
                        .info__slide.swiper-slide 
                            img(src="@img/info-3.png", alt="" draggable="false")
                        .info__slide.swiper-slide 
                            img(src="@img/info-4.png", alt="" draggable="false")
                        .info__slide.swiper-slide 
                            img(src="@img/info-5.png", alt="" draggable="false")
                .info__navigation 
                    button(type='button').info__navigation-prev.swiper-button-prev
                        <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="33" height="33" rx="16.5" fill="#35B8EB"/>
                        <path d="M18.54 23.2405L12.4772 16.8953C12.4052 16.8198 12.3544 16.7379 12.3246 16.6498C12.2944 16.5617 12.2793 16.4672 12.2793 16.3665C12.2793 16.2658 12.2944 16.1714 12.3246 16.0833C12.3544 15.9951 12.4052 15.9133 12.4772 15.8378L18.54 9.47369C18.7079 9.29743 18.9178 9.2093 19.1697 9.2093C19.4215 9.2093 19.6374 9.30373 19.8173 9.49257C19.9972 9.68142 20.0872 9.90174 20.0872 10.1535C20.0872 10.4053 19.9972 10.6256 19.8173 10.8145L14.5281 16.3665L19.8173 21.9186C19.9852 22.0948 20.0692 22.3119 20.0692 22.5697C20.0692 22.8281 19.9792 23.0516 19.7993 23.2405C19.6194 23.4293 19.4095 23.5238 19.1697 23.5238C18.9298 23.5238 18.7199 23.4293 18.54 23.2405Z" fill="white"/>
                        </svg>
                    button(type='button').info__navigation-next.swiper-button-next
                        <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="33" height="33" rx="16.5" transform="matrix(-1 0 0 1 33 0)" fill="#35B8EB"/>
                        <path d="M14.46 23.2405L20.5228 16.8953C20.5948 16.8198 20.6456 16.7379 20.6754 16.6498C20.7056 16.5617 20.7207 16.4672 20.7207 16.3665C20.7207 16.2658 20.7056 16.1714 20.6754 16.0833C20.6456 15.9951 20.5948 15.9133 20.5228 15.8378L14.46 9.47369C14.2921 9.29743 14.0822 9.2093 13.8303 9.2093C13.5785 9.2093 13.3626 9.30373 13.1827 9.49257C13.0028 9.68142 12.9128 9.90174 12.9128 10.1535C12.9128 10.4053 13.0028 10.6256 13.1827 10.8145L18.4719 16.3665L13.1827 21.9186C13.0148 22.0948 12.9308 22.3119 12.9308 22.5697C12.9308 22.8281 13.0208 23.0516 13.2007 23.2405C13.3806 23.4293 13.5905 23.5238 13.8303 23.5238C14.0702 23.5238 14.2801 23.4293 14.46 23.2405Z" fill="white"/>
                        </svg>
            .info__sm 
                p.info__sm-li Площадь: 55м2
                p.info__sm-li • санузел 
                p.info__sm-li 6 спальных мест (2 спальные комнаты)
            .info__gallery 
                a(href="#!").info__gallery-item.big 
                    <svg width="112" height="108" viewBox="0 0 112 108" fill="none" xmlns="http://www.w3.org/2000/svg"> 
                        <path d="M0 20C0 8.95431 8.95431 0 20 0H112L54 57.5L0 108V20Z" fill="#35B8EB" fill-opacity="0.69"/> 
                        <path d="M25.5 42L14 53.5" stroke="white" stroke-width="4"/> 
                        <circle cx="39.5" cy="29.5" r="12.5" stroke="white" stroke-width="4"/> 
                    </svg> 
                    img(src="@img/info-1.png", alt="" draggable="false")
                .info__gallery-content 
                    a(href="#!").info__gallery-item 
                        <svg width="112" height="108" viewBox="0 0 112 108" fill="none" xmlns="http://www.w3.org/2000/svg"> 
                            <path d="M0 20C0 8.95431 8.95431 0 20 0H112L54 57.5L0 108V20Z" fill="#35B8EB" fill-opacity="0.69"/> 
                            <path d="M25.5 42L14 53.5" stroke="white" stroke-width="4"/> 
                            <circle cx="39.5" cy="29.5" r="12.5" stroke="white" stroke-width="4"/> 
                        </svg> 
                        img(src="@img/info-2.png", alt="" draggable="false") 
                    a(href="#!").info__gallery-item 
                        <svg width="112" height="108" viewBox="0 0 112 108" fill="none" xmlns="http://www.w3.org/2000/svg"> 
                            <path d="M0 20C0 8.95431 8.95431 0 20 0H112L54 57.5L0 108V20Z" fill="#35B8EB" fill-opacity="0.69"/> 
                            <path d="M25.5 42L14 53.5" stroke="white" stroke-width="4"/> 
                            <circle cx="39.5" cy="29.5" r="12.5" stroke="white" stroke-width="4"/> 
                        </svg> 
                        img(src="@img/info-3.png", alt="" draggable="false") 
                    a(href="#!").info__gallery-item 
                        <svg width="112" height="108" viewBox="0 0 112 108" fill="none" xmlns="http://www.w3.org/2000/svg"> 
                            <path d="M0 20C0 8.95431 8.95431 0 20 0H112L54 57.5L0 108V20Z" fill="#35B8EB" fill-opacity="0.69"/> 
                            <path d="M25.5 42L14 53.5" stroke="white" stroke-width="4"/> 
                            <circle cx="39.5" cy="29.5" r="12.5" stroke="white" stroke-width="4"/> 
                        </svg> 
                        img(src="@img/info-4.png", alt="" draggable="false") 
                    a(href="#!").info__gallery-item 
                        <svg width="112" height="108" viewBox="0 0 112 108" fill="none" xmlns="http://www.w3.org/2000/svg"> 
                            <path d="M0 20C0 8.95431 8.95431 0 20 0H112L54 57.5L0 108V20Z" fill="#35B8EB" fill-opacity="0.69"/> 
                            <path d="M25.5 42L14 53.5" stroke="white" stroke-width="4"/> 
                            <circle cx="39.5" cy="29.5" r="12.5" stroke="white" stroke-width="4"/> 
                        </svg> 
                        img(src="@img/info-5.png", alt="" draggable="false")
            p.info__p Дом находится на холме в сосновом лесу и имеет прекрасный панорамный вид на оз. Сямозеро. Каждая комната имеет свой выход на террасу. Дом построен по каркасной технологии в 2019г. с использование экологически чистых строительных материалов.
            .info__row 
                p.info__span <span>«Высокий» сезон:</span>  01.05-30.09
                p.info__span <span>«Низкий» сезон:</span>  01.10-29.12 и 11.01-30.04.