mixin options()
    .options 
        .options__body.container    
            h2.options__title ВАРИАНТЫ РАЗМЕЩЕНИЯ
            .options__cards 
                .options__item
                    .options__card 
                        .options__slider 
                            .options__btns 
                                .options__btn-prev.options__btn.options__btn-prev1
                                    img(src="@img/prev-btn-black.svg", alt="" draggable="false")
                                .options__btn-next.options__btn.options__btn-next1
                                    img(src="@img/next-btn-black.svg", alt="" draggable="false")
                            .options__swiper1.swiper 
                                .options__swiper-wrapper.swiper-wrapper 
                                    .options__slide.swiper-slide 
                                        .options__img 
                                            img(src="@img/options-img-1.png", alt="" draggable="false")
                                    .options__slide.swiper-slide 
                                        .options__img 
                                            img(src="@img/options-img-2.png", alt="" draggable="false")
                                    .options__slide.swiper-slide 
                                        .options__img 
                                            img(src="@img/options-img-3.png", alt="" draggable="false")
                        .options__bottom 
                            .options__line 
                                p.options__subtitle Коттедж «Закат 1» 
                                p.options__date.disable-sm 02.07- 14.08.23
                                .options__txts.enable-sm 
                                    p.options__txt (55 м2)
                                    li.options__li 6 спальных мест
                            .options__line
                                p.options__date.enable-sm 02.07- 14.08.23  
                                .options__txts.disable-sm  
                                    p.options__txt (55 м2)
                                    li.options__li 6 спальных мест
                                p.options__desc Осталось всего 4 объекта
                            .options__infos 
                                .options__row 
                                    p.options__info Цена сутки:
                                    p.options__price 12000 руб.
                                .options__row 
                                    p.options__info Цена за период:
                                    p.options__price 32000 руб.
                    .options__buttons 
                        button(type="button").options__button ЗАПРОС БРОНИ
                        a(href="#!").options__link ПОДРОБНЕЕ
                .options__item
                    .options__card 
                        .options__slider 
                            .options__btns 
                                .options__btn-prev.options__btn.options__btn-prev2
                                    img(src="@img/prev-btn-black.svg", alt="" draggable="false")
                                .options__btn-next.options__btn.options__btn-next2
                                    img(src="@img/next-btn-black.svg", alt="" draggable="false")
                            .options__swiper2.swiper 
                                .options__swiper-wrapper.swiper-wrapper 
                                    .options__slide.swiper-slide 
                                        .options__img 
                                            img(src="@img/options-img-2.png", alt="" draggable="false")
                                    .options__slide.swiper-slide 
                                        .options__img 
                                            img(src="@img/options-img-2.png", alt="" draggable="false")
                                    .options__slide.swiper-slide 
                                        .options__img 
                                            img(src="@img/options-img-2.png", alt="" draggable="false")
                        .options__bottom 
                            .options__line 
                                p.options__subtitle Коттедж «Закат 1» 
                                p.options__date.disable-sm 02.07- 14.08.23
                                .options__txts.enable-sm 
                                    p.options__txt (55 м2)
                                    li.options__li 6 спальных мест
                            .options__line
                                p.options__date.enable-sm 02.07- 14.08.23  
                                .options__txts.disable-sm  
                                    p.options__txt (55 м2)
                                    li.options__li 6 спальных мест
                                p.options__desc Осталось всего 4 объекта
                            .options__infos 
                                .options__row 
                                    p.options__info Цена сутки:
                                    p.options__price 12000 руб.
                                .options__row 
                                    p.options__info Цена за период:
                                    p.options__price 32000 руб.
                    .options__buttons 
                        button(type="button").options__button ЗАПРОС БРОНИ
                        a(href="#!").options__link ПОДРОБНЕЕ
                .options__item
                    .options__card 
                        .options__slider 
                            .options__btns 
                                .options__btn-prev.options__btn.options__btn-prev3
                                    img(src="@img/prev-btn-black.svg", alt="" draggable="false")
                                .options__btn-next.options__btn.options__btn-next3
                                    img(src="@img/next-btn-black.svg", alt="" draggable="false")
                            .options__swiper3.swiper 
                                .options__swiper-wrapper.swiper-wrapper 
                                    .options__slide.swiper-slide 
                                        .options__img 
                                            img(src="@img/options-img-3.png", alt="" draggable="false")
                                    .options__slide.swiper-slide 
                                        .options__img 
                                            img(src="@img/options-img-3.png", alt="" draggable="false")
                                    .options__slide.swiper-slide 
                                        .options__img 
                                            img(src="@img/options-img-3.png", alt="" draggable="false")
                        .options__bottom 
                            .options__line 
                                p.options__subtitle Коттедж «Закат 1» 
                                p.options__date.disable-sm 02.07- 14.08.23
                                .options__txts.enable-sm 
                                    p.options__txt (55 м2)
                                    li.options__li 6 спальных мест
                            .options__line
                                p.options__date.enable-sm 02.07- 14.08.23  
                                .options__txts.disable-sm  
                                    p.options__txt (55 м2)
                                    li.options__li 6 спальных мест
                                p.options__desc Осталось всего 4 объекта
                            .options__infos 
                                .options__row 
                                    p.options__info Цена сутки:
                                    p.options__price 12000 руб.
                                .options__row 
                                    p.options__info Цена за период:
                                    p.options__price 32000 руб.
                    .options__buttons 
                        button(type="button").options__button ЗАПРОС БРОНИ
                        a(href="#!").options__link ПОДРОБНЕЕ