mixin popup()
    .popup#callback 
        .popup__overlay.popup-close
        .popup__body    
            .popup__close.popup-close 
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.28782 7.01187L13.7073 1.59238C13.7977 1.5082 13.8701 1.40667 13.9204 1.29387C13.9707 1.18107 13.9977 1.05929 13.9999 0.93582C14.002 0.812345 13.9793 0.689696 13.9331 0.57519C13.8868 0.460684 13.818 0.356667 13.7307 0.269344C13.6433 0.182021 13.5393 0.11318 13.4248 0.0669293C13.3103 0.0206784 13.1877 -0.00203545 13.0642 0.000143114C12.9407 0.00232168 12.8189 0.029348 12.7061 0.0796095C12.5933 0.129871 12.4918 0.202338 12.4076 0.292687L6.98813 5.71218L1.56864 0.292687C1.39431 0.13025 1.16374 0.0418171 0.925504 0.0460205C0.687265 0.050224 0.459959 0.146735 0.291473 0.315221C0.122987 0.483707 0.0264756 0.711014 0.0222722 0.949252C0.0180688 1.18749 0.106501 1.41806 0.268939 1.59238L5.68843 7.01187L0.268939 12.4314C0.0967286 12.6038 0 12.8375 0 13.0812C0 13.3249 0.0967286 13.5586 0.268939 13.7311C0.441364 13.9033 0.675094 14 0.918788 14C1.16248 14 1.39621 13.9033 1.56864 13.7311L6.98813 8.31157L12.4076 13.7311C12.58 13.9033 12.8138 14 13.0575 14C13.3012 14 13.5349 13.9033 13.7073 13.7311C13.8795 13.5586 13.9763 13.3249 13.9763 13.0812C13.9763 12.8375 13.8795 12.6038 13.7073 12.4314L8.28782 7.01187Z" fill="#16333F"/>
                </svg>
            p.popup__title 
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18" r="18" fill="white"/>
                    <path d="M25.186 20.9768C24.7885 20.7971 22.8485 19.8983 22.4987 19.7634C22.1329 19.6436 21.8785 19.5837 21.6082 19.9432C21.3379 20.3177 20.5905 21.1566 20.3679 21.3963C20.1452 21.6509 19.9067 21.6809 19.5092 21.4862C19.1116 21.3064 17.8395 20.9019 16.3447 19.6436C15.168 18.6549 14.3888 17.4415 14.1503 17.067C13.9277 16.6925 14.1185 16.4977 14.3252 16.303C14.5002 16.1382 14.7228 15.8686 14.9136 15.6588C15.1044 15.4491 15.1839 15.2843 15.3111 15.0447C15.4384 14.79 15.3747 14.5803 15.2793 14.4005C15.1839 14.2207 14.3888 12.3932 14.0708 11.6441C13.7528 10.9251 13.4188 11.015 13.1803 11H12.417C12.1467 11 11.7333 11.0899 11.3675 11.4644C11.0177 11.8389 10 12.7377 10 14.5653C10 16.3929 11.4152 18.1605 11.6061 18.4002C11.7969 18.6549 14.3888 22.3999 18.3324 24.0028C19.2706 24.3923 20.0021 24.617 20.5746 24.7818C21.5128 25.0664 22.3715 25.0215 23.0552 24.9316C23.8185 24.8267 25.3928 24.0328 25.7108 23.1639C26.0447 22.2951 26.0447 21.5611 25.9334 21.3963C25.8221 21.2315 25.5836 21.1566 25.186 20.9768Z" fill="#35B8EB"/>
                </svg>
                | Заказать звонок
            form(action="#").popup__form
                input(type="text" placeholder="Ваше имя" required).popup__input
                input(type="text" placeholder="Телефон" required).popup__input
                button(type="submit").popup__btn Отправить
                .popup__row 
                    input(type="checkbox" required).popup__chk
                    p.popup__label Согласен на <a href="#">обработку персональных данных</a>