mixin promotion()
    .promotion 
        .promotion__body.container 
            h2.promotion__title АКЦИЯ 
            .promotion__content 
                p.promotion__subtitle получите #[span до 3000 р]. на новые бронирования
                p.promotion__p Снимите видео (о турбазе) после поездки к нам и получите до 3000 р. на новые бронирования
                a(href="#!").promotion__btn ПОДРОБНЕЕ 
                .promotion__cam 
                    img(src="@img/videocam.svg", alt="" draggable="false") 
                .promotion__coin 
                    img(src="@img/coin.svg", alt="" draggable="false") 
                a(href="#!").promotion__video_1 
                    <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29.5404 17.4231C29.5415 17.862 29.4251 18.2936 29.2026 18.6761C28.9801 19.0586 28.659 19.3789 28.2705 19.6058L4.19766 33.8461C3.7918 34.0864 3.32695 34.2176 2.85113 34.2261C2.3753 34.2347 1.90575 34.1202 1.49097 33.8946C1.08013 33.6725 0.737898 33.3485 0.499454 32.9561C0.26101 32.5637 0.134964 32.1169 0.134277 31.6618V3.18446C0.134964 2.72931 0.26101 2.28255 0.499454 1.89012C0.737898 1.49769 1.08013 1.17376 1.49097 0.951642C1.90575 0.726015 2.3753 0.611551 2.85113 0.620072C3.32695 0.628593 3.7918 0.759789 4.19766 1.00011L28.2705 15.2404C28.659 15.4673 28.9801 15.7876 29.2026 16.1701C29.4251 16.5526 29.5415 16.9843 29.5404 17.4231Z" fill="white"/>
                    </svg>
                    img(src="@img/promotion-1.png", alt="" draggable="false") 
                a(href="#!").promotion__video_2 
                    <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29.5404 17.4231C29.5415 17.862 29.4251 18.2936 29.2026 18.6761C28.9801 19.0586 28.659 19.3789 28.2705 19.6058L4.19766 33.8461C3.7918 34.0864 3.32695 34.2176 2.85113 34.2261C2.3753 34.2347 1.90575 34.1202 1.49097 33.8946C1.08013 33.6725 0.737898 33.3485 0.499454 32.9561C0.26101 32.5637 0.134964 32.1169 0.134277 31.6618V3.18446C0.134964 2.72931 0.26101 2.28255 0.499454 1.89012C0.737898 1.49769 1.08013 1.17376 1.49097 0.951642C1.90575 0.726015 2.3753 0.611551 2.85113 0.620072C3.32695 0.628593 3.7918 0.759789 4.19766 1.00011L28.2705 15.2404C28.659 15.4673 28.9801 15.7876 29.2026 16.1701C29.4251 16.5526 29.5415 16.9843 29.5404 17.4231Z" fill="white"/>
                    </svg>
                    img(src="@img/promotion-2.png", alt="" draggable="false") 