mixin promotion()
    .promotion 
        .promotion__body.container 
            h2.promotion__title АКЦИЯ
            .promotion__content 
                p.promotion__subtitle получите до 3000 р. на новые бронирования
                p.promotion__p Снимите видео (о турбазе) после поездки к нам и получите до 3000 р. на новые бронирования
                a(href="#!").promotion__btn ПОДРОБНЕЕ 
                a(href="#!").promotion__ 