mixin stars()
    <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M27 9.58627L17.5262 8.96342L13.9583 0L10.3904 8.96342L0.927002 9.58627L8.18538 15.7494L5.80357 25.0984L13.9583 19.9439L22.1131 25.0984L19.7313 15.7494L27 9.58627Z" fill="#4BCDFF"/>
    </svg>
    <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M27 9.58627L17.5262 8.96342L13.9583 0L10.3904 8.96342L0.927002 9.58627L8.18538 15.7494L5.80357 25.0984L13.9583 19.9439L22.1131 25.0984L19.7313 15.7494L27 9.58627Z" fill="#4BCDFF"/>
    </svg>
    <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M27 9.58627L17.5262 8.96342L13.9583 0L10.3904 8.96342L0.927002 9.58627L8.18538 15.7494L5.80357 25.0984L13.9583 19.9439L22.1131 25.0984L19.7313 15.7494L27 9.58627Z" fill="#4BCDFF"/>
    </svg>
    <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M27 9.58627L17.5262 8.96342L13.9583 0L10.3904 8.96342L0.927002 9.58627L8.18538 15.7494L5.80357 25.0984L13.9583 19.9439L22.1131 25.0984L19.7313 15.7494L27 9.58627Z" fill="#4BCDFF"/>
    </svg>
    <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M27 9.58627L17.5262 8.96342L13.9583 0L10.3904 8.96342L0.927002 9.58627L8.18538 15.7494L5.80357 25.0984L13.9583 19.9439L22.1131 25.0984L19.7313 15.7494L27 9.58627Z" fill="#4BCDFF"/>
    </svg>

mixin slide()
    .reviews__slide.swiper-slide 
        .reviews__slide-top 
            .reviews__slide-info 
                p.reviews__slide-name Алексей Иванов 
                p.reviews__slide-date.lg 15.06.2022 
            p.reviews__slide-date.sm 15.06.2022 
            .reviews__slide-rating 
                +stars 
        .reviews__content 
            .reviews__svg-1 
                <svg width="33" height="26" viewBox="0 0 33 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.4 1.74942C6.2 0.703787 7 0.140756 7.8 0.0603236C8.68 -0.100541 9.4 0.060326 9.96 0.542923C10.6 0.945088 10.96 1.58855 11.04 2.47331C11.12 3.35808 10.76 4.32328 9.96 5.3689C8.68 7.058 7.76 8.78732 7.2 10.5568C6.72 12.2459 6.48 13.8144 6.48 15.2622L6.12 12.8492C8.2 12.8492 9.88 13.4524 11.16 14.6589C12.44 15.785 13.08 17.3534 13.08 19.3643C13.08 21.2947 12.48 22.9033 11.28 24.1903C10.08 25.3968 8.52 26 6.6 26C4.52 26 2.88 25.3163 1.68 23.949C0.56 22.5012 0 20.4501 0 17.7958C0 16.1067 0.12 14.3774 0.36 12.6079C0.68 10.7579 1.24 8.90797 2.04 7.05801C2.92 5.20805 4.04 3.43852 5.4 1.74942ZM25.32 1.74942C26.12 0.703787 26.92 0.140756 27.72 0.0603236C28.6 -0.100541 29.32 0.060326 29.88 0.542923C30.52 0.945088 30.88 1.58855 30.96 2.47331C31.04 3.35808 30.68 4.32328 29.88 5.3689C28.6 7.058 27.68 8.78732 27.12 10.5568C26.64 12.2459 26.4 13.8144 26.4 15.2622L26.04 12.8492C28.12 12.8492 29.8 13.4524 31.08 14.6589C32.36 15.785 33 17.3534 33 19.3643C33 21.2947 32.4 22.9033 31.2 24.1903C30 25.3968 28.44 26 26.52 26C24.44 26 22.8 25.3163 21.6 23.949C20.48 22.5012 19.92 20.4501 19.92 17.7958C19.92 16.1067 20.04 14.3774 20.28 12.6079C20.6 10.7579 21.16 8.90797 21.96 7.05801C22.84 5.20805 23.96 3.43852 25.32 1.74942Z" fill="#35B8EB"/>
                </svg> 
            .reviews__svg-2 
                <svg width="33" height="26" viewBox="0 0 33 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M27.6 24.0885C26.8 25.1271 26 25.6864 25.2 25.7663C24.32 25.926 23.6 25.7662 23.04 25.2869C22.4 24.8874 22.04 24.2482 21.96 23.3694C21.88 22.4906 22.24 21.5318 23.04 20.4932C24.32 18.8154 25.24 17.0976 25.8 15.3399C26.28 13.6621 26.52 12.1042 26.52 10.6661L26.88 13.0629C24.8 13.0629 23.12 12.4637 21.84 11.2653C20.56 10.1468 19.92 8.58881 19.92 6.59143C19.92 4.67395 20.52 3.07604 21.72 1.79772C22.92 0.599298 24.48 8.50858e-05 26.4 8.52537e-05C28.48 8.54355e-05 30.12 0.679195 31.32 2.03741C32.44 3.47552 33 5.51285 33 8.14938C33 9.82718 32.88 11.5449 32.64 13.3026C32.32 15.1402 31.76 16.9778 30.96 18.8154C30.08 20.653 28.96 22.4107 27.6 24.0885ZM7.67999 24.0885C6.88 25.1271 6.08 25.6864 5.28 25.7662C4.4 25.926 3.68 25.7662 3.12 25.2869C2.48 24.8874 2.12 24.2482 2.04 23.3694C1.96 22.4905 2.32 21.5318 3.12 20.4932C4.4 18.8154 5.32 17.0976 5.88 15.3399C6.36 13.6621 6.6 12.1042 6.6 10.6661L6.96 13.0629C4.88 13.0629 3.2 12.4637 1.92 11.2653C0.640001 10.1468 1.50694e-06 8.58881 1.68155e-06 6.59143C1.84919e-06 4.67394 0.6 3.07604 1.8 1.79772C3 0.599296 4.56 8.33444e-05 6.48 8.35122e-05C8.56 8.36941e-05 10.2 0.679193 11.4 2.03741C12.52 3.47552 13.08 5.51284 13.08 8.14938C13.08 9.82718 12.96 11.5449 12.72 13.3026C12.4 15.1402 11.84 16.9778 11.04 18.8154C10.16 20.653 9.04 22.4107 7.67999 24.0885Z" fill="#35B8EB"/>
                </svg> 
            p.reviews__slide-p Арендуя гостевой дом на берегу озера, Вы получаете в придачу чистейший и ароматный лесной воздух, песчаный пляж озера с кристально прозрачной водой! 

mixin reviews()
    .reviews 
        .reviews__body.container 
            h2.reviews__title СВЕЖИЕ 
                <span>
                    |ОТЗЫВЫ
                    img(src="@img/reviews.svg", alt="" draggable="false")
                </span>
            .reviews__slider 
                .reviews__swiper.swiper 
                    .reviews__wrapper.swiper-wrapper 
                        +slide 
                        +slide 
                        +slide 
                        +slide 
                .reviews__navigation 
                    .reviews__navigation-prev.swiper-button-prev 
                        <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="43" height="43" rx="21.5" fill="#35B8EB"/>
                            <path d="M24.1579 30.2831L16.2579 22.0151C16.1641 21.9167 16.0978 21.81 16.0591 21.6952C16.0197 21.5804 16 21.4573 16 21.3261C16 21.1948 16.0197 21.0718 16.0591 20.957C16.0978 20.8421 16.1641 20.7355 16.2579 20.6371L24.1579 12.3445C24.3767 12.1148 24.6502 12 24.9784 12C25.3065 12 25.5879 12.123 25.8223 12.3691C26.0567 12.6152 26.1739 12.9023 26.1739 13.2304C26.1739 13.5584 26.0567 13.8455 25.8223 14.0916L18.9303 21.3261L25.8223 28.5606C26.0411 28.7902 26.1505 29.073 26.1505 29.409C26.1505 29.7456 26.0333 30.037 25.7988 30.2831C25.5644 30.5291 25.2909 30.6522 24.9784 30.6522C24.6658 30.6522 24.3923 30.5291 24.1579 30.2831Z" fill="white"/>
                        </svg>
                    .reviews__navigation-next.swiper-button-next 
                        <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="43" height="43" rx="21.5" transform="matrix(-1 0 0 1 43 0)" fill="#35B8EB"/>
                            <path d="M18.8421 30.2831L26.7421 22.0151C26.8359 21.9167 26.9022 21.81 26.9409 21.6952C26.9803 21.5804 27 21.4573 27 21.3261C27 21.1948 26.9803 21.0718 26.9409 20.957C26.9022 20.8421 26.8359 20.7355 26.7421 20.6371L18.8421 12.3445C18.6233 12.1148 18.3498 12 18.0216 12C17.6935 12 17.4121 12.123 17.1777 12.3691C16.9433 12.6152 16.8261 12.9023 16.8261 13.2304C16.8261 13.5584 16.9433 13.8455 17.1777 14.0916L24.0697 21.3261L17.1777 28.5606C16.9589 28.7902 16.8495 29.073 16.8495 29.409C16.8495 29.7456 16.9667 30.037 17.2012 30.2831C17.4356 30.5291 17.7091 30.6522 18.0216 30.6522C18.3342 30.6522 18.6077 30.5291 18.8421 30.2831Z" fill="white"/>
                        </svg>
                .reviews__pagination.swiper-pagination 
