mixin services()
    .services 
        .services__body.container   
            h2.services__title УСЛУГИ
            p.services__desc Включены в стоимость проживания
            .features__items 
                .features__item 
                    .features__img 
                        img(src="@img/features-img-1.svg", alt="" draggable="false")
                    p.features__p Бесплатный Wi-Fi
                .features__item 
                    .features__img 
                        img(src="@img/features-img-2.svg", alt="" draggable="false")
                    p.features__p Холодильник
                .features__item 
                    .features__img 
                        img(src="@img/features-img-3.svg", alt="" draggable="false")
                    p.features__p Парковка
                .features__item 
                    .features__img 
                        img(src="@img/features-img-4.svg", alt="" draggable="false")
                    p.features__p ТВ
                .features__item 
                    .features__img 
                        img(src="@img/features-img-5.svg", alt="" draggable="false")
                    p.features__p Можно с животными
                .features__item 
                    .features__img 
                        img(src="@img/features-img-6.svg", alt="" draggable="false")
                    p.features__p Пляж #[span (первая линия)]
                .features__item 
                    .features__img 
                        img(src="@img/features-img-7.svg", alt="" draggable="false")
                    p.features__p ПРОКАТ ЛОДОК
            .services__content 
                p.services__p Белье
                p.services__p Полотенца
                p.services__p.disable-sm Мини-кухня
                p.services__p.enable-sm Душ
                p.services__p.disable-sm Вешалки для одежды
                p.services__p.enable-sm Мини-кухня
                p.services__p Отопление
                p.services__p.enable-sm Вешалки для одежды
                p.services__p Ванная комната 
                p.services__p.disable-sm Душ
                p.services__p Санузел
                p.services__p.disable-sm Балкон
                p.services__p.disable-sm Вид на озеро
                p.services__p.disable-sm Отдельно стоящее
            .services__slider 
                .services__swiper.swiper 
                    .services__swiper-wrapper.swiper-wrapper 
                        .services__slide.swiper-slide 
                            .services__row 
                                p.services__subtitle.enable-sm ВЕСЕЛЬНЫЕ и моторные лодки
                                .services__img 
                                    img(src="@img/services-img-1.png", alt="" draggable="false")
                                .services__right 
                                    p.services__subtitle.disable-sm ВЕСЕЛЬНЫЕ и моторные лодки
                                    p.services__text Водные прогулки по карельским озерам никого не оставят равнодушным. Прекрасный способ отдохнуть всей семьей и насладиться прекрасными пейзажами. Арендовав лодку, Вы сможете проложить собственный уникальный маршрут по чистейшим озерам и прочувствовать спокойствие озерного края.
                                    p.services__txt Мы предлагаем:
                                    ul.services__list 
                                        li.services__li #[span Лодка весельная] - бесплатно #[span.notbold (для каждого дома);] #[br] Дополнительная #[span.notbold (для каждого дома);] лодка - 2000р./сутки;
                                        li.services__li #[span Аренда катера ENIGMA,] - с капитаном (до 3-х человек). #[br] #[span Стоимость: ] 3 часа - 7500 рублей
                                        li.services__li #[span Аренда катера Казанка 5 М,] - мотор Suzuki 15 #[br] лошадиных сил, эхолот и спасательные жилеты. #[br] #[span Стоимость: 8000р./день ]
                        .services__slide.swiper-slide 
                            .services__row 
                                p.services__subtitle.enable-sm ВЕСЕЛЬНЫЕ и моторные лодки
                                .services__img 
                                    img(src="@img/services-img-1.png", alt="" draggable="false")
                                .services__right 
                                    p.services__subtitle.disable-sm ВЕСЕЛЬНЫЕ и моторные лодки
                                    p.services__text Водные прогулки по карельским озерам никого не оставят равнодушным. Прекрасный способ отдохнуть всей семьей и насладиться прекрасными пейзажами. Арендовав лодку, Вы сможете проложить собственный уникальный маршрут по чистейшим озерам и прочувствовать спокойствие озерного края.
                                    p.services__txt Мы предлагаем:
                                    ul.services__list 
                                        li.services__li #[span Лодка весельная] - бесплатно #[span.notbold (для каждого дома);] #[br] Дополнительная #[span.notbold (для каждого дома);] лодка - 2000р./сутки;
                                        li.services__li #[span Аренда катера ENIGMA,] - с капитаном (до 3-х человек). #[br] #[span Стоимость: ] 3 часа - 7500 рублей
                                        li.services__li #[span Аренда катера Казанка 5 М,] - мотор Suzuki 15 #[br] лошадиных сил, эхолот и спасательные жилеты. #[br] #[span Стоимость: 8000р./день ]
                        .services__slide.swiper-slide 
                            .services__row 
                                p.services__subtitle.enable-sm ВЕСЕЛЬНЫЕ и моторные лодки
                                .services__img 
                                    img(src="@img/services-img-1.png", alt="" draggable="false")
                                .services__right 
                                    p.services__subtitle.disable-sm ВЕСЕЛЬНЫЕ и моторные лодки
                                    p.services__text Водные прогулки по карельским озерам никого не оставят равнодушным. Прекрасный способ отдохнуть всей семьей и насладиться прекрасными пейзажами. Арендовав лодку, Вы сможете проложить собственный уникальный маршрут по чистейшим озерам и прочувствовать спокойствие озерного края.
                                    p.services__txt Мы предлагаем:
                                    ul.services__list 
                                        li.services__li #[span Лодка весельная] - бесплатно #[span.notbold (для каждого дома);] #[br] Дополнительная #[span.notbold (для каждого дома);] лодка - 2000р./сутки;
                                        li.services__li #[span Аренда катера ENIGMA,] - с капитаном (до 3-х человек). #[br] #[span Стоимость: ] 3 часа - 7500 рублей
                                        li.services__li #[span Аренда катера Казанка 5 М,] - мотор Suzuki 15 #[br] лошадиных сил, эхолот и спасательные жилеты. #[br] #[span Стоимость: 8000р./день ]
                        .services__slide.swiper-slide 
                            .services__row 
                                p.services__subtitle.enable-sm ВЕСЕЛЬНЫЕ и моторные лодки
                                .services__img 
                                    img(src="@img/services-img-1.png", alt="" draggable="false")
                                .services__right 
                                    p.services__subtitle.disable-sm ВЕСЕЛЬНЫЕ и моторные лодки
                                    p.services__text Водные прогулки по карельским озерам никого не оставят равнодушным. Прекрасный способ отдохнуть всей семьей и насладиться прекрасными пейзажами. Арендовав лодку, Вы сможете проложить собственный уникальный маршрут по чистейшим озерам и прочувствовать спокойствие озерного края.
                                    p.services__txt Мы предлагаем:
                                    ul.services__list 
                                        li.services__li #[span Лодка весельная] - бесплатно #[span.notbold (для каждого дома);] #[br] Дополнительная #[span.notbold (для каждого дома);] лодка - 2000р./сутки;
                                        li.services__li #[span Аренда катера ENIGMA,] - с капитаном (до 3-х человек). #[br] #[span Стоимость: ] 3 часа - 7500 рублей
                                        li.services__li #[span Аренда катера Казанка 5 М,] - мотор Suzuki 15 #[br] лошадиных сил, эхолот и спасательные жилеты. #[br] #[span Стоимость: 8000р./день ]
                .services__buttons 
                    .services__btn-prev
                        img(src="@img/prev-btn.svg", alt="" draggable="false")
                    .services__btn-next
                        img(src="@img/next-btn.svg", alt="" draggable="false")
                .services__pagination.swiper-pagination