mixin tabs()
    .tabs 
        .tabs__body.container 
            h2.tabs__title Всё что вам нужно
            .tabs__top 
                button(type="button" data-target="tabs1").tabs__btn.active 
                    <svg class="filled" width="52" height="38" viewBox="0 0 52 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26.5 3.8L15.3182 12.502V9.5H11.5909V15.409L6 19.76L8.255 22.781L11.5909 20.178V38H24.6364V26.6H28.3636V38H41.4091V20.178L44.745 22.762L47 19.76L26.5 3.8ZM22.7727 0C22.7727 3.154 20.2755 5.7 17.1818 5.7C16.1568 5.7 15.3182 6.555 15.3182 7.6H11.5909C11.5909 4.446 14.0882 1.9 17.1818 1.9C18.2068 1.9 19.0455 1.045 19.0455 0H22.7727Z"/>
                    </svg>
                    | Баня
                button(type="button" data-target="tabs2").tabs__btn 
                    <svg class="filled" width="52" height="38" viewBox="0 0 52 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25.4573 22.305L30.4575 10.6519L28.2074 6.09375H22.8738V3H30.1658L31.6867 6.09375H46.3123L44.2289 13.3125H35.2493L36.6452 16.1381C38.2273 15.4997 39.9436 15.2562 41.6432 15.429C43.3427 15.6017 44.9732 16.1854 46.3912 17.1288C47.8093 18.0721 48.9713 19.3461 49.7749 20.8386C50.5786 22.331 50.9993 23.9962 51 25.6875C51 31.38 46.3331 36 40.5829 36C34.8326 36 30.1658 31.38 30.1658 25.6875C30.1658 22.4906 31.645 19.6237 33.9576 17.7469L32.2492 14.3438L26.5198 27.75H21.6238C21.2296 29.6618 20.2956 31.4236 18.9303 32.8309C17.565 34.2381 15.8245 35.2331 13.9108 35.7002C11.9971 36.1672 9.98887 36.0873 8.11927 35.4696C6.24966 34.8519 4.59544 33.7218 3.34873 32.2105C2.10202 30.6993 1.31398 28.8689 1.07613 26.9319C0.838287 24.995 1.1604 23.031 2.00506 21.2681C2.84972 19.5052 4.18226 18.0156 5.84792 16.9725C7.51359 15.9293 9.44401 15.3754 11.415 15.375C16.8111 15.375 21.2487 19.4381 21.8321 24.6562H23.0405L18.2903 13.3125H16.6235C15.7693 13.3125 15.061 12.6112 15.061 11.7656C15.061 10.92 15.7693 10.2188 16.6235 10.2188H22.353C23.2072 10.2188 23.9155 10.92 23.9155 11.7656C23.9155 12.6112 23.2072 13.3125 22.353 13.3125H21.7696L25.4573 22.305ZM11.415 18.4688C7.39398 18.4688 4.12301 21.7069 4.12301 25.6875C4.1268 27.4209 4.75981 29.0952 5.9066 30.4051C7.0534 31.715 8.63757 32.5732 10.3702 32.8233C12.1029 33.0733 13.8687 32.6985 15.3455 31.7672C16.8223 30.8359 17.9118 29.4102 18.4153 27.75H9.33157V24.6562H18.6445C18.1236 21.15 15.0818 18.4688 11.415 18.4688ZM40.5829 18.4688C39.687 18.4688 38.812 18.6338 38.0203 18.9225L42.0413 27.09L39.2287 28.4513L35.3743 20.6344C34.0826 21.9338 33.2909 23.7281 33.2909 25.6875C33.2909 29.6681 36.5619 32.9062 40.5829 32.9062C44.6039 32.9062 47.8749 29.6681 47.8749 25.6875C47.8749 21.7069 44.6039 18.4688 40.5829 18.4688Z"/>
                    </svg>
                    | Велосипед лыжи
                button(type="button" data-target="tabs3").tabs__btn 
                    <svg class="stroked" width="52" height="38" viewBox="0 0 52 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_214_702)">
                        <path d="M34.8333 13.5V26C34.8333 28.7626 33.7358 31.4121 31.7823 33.3656C29.8288 35.3191 27.1793 36.4166 24.4166 36.4166C21.654 36.4166 19.0045 35.3191 17.051 33.3656C15.0975 31.4121 14 28.7626 14 26V17.6667L20.25 23.9166" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M34.8332 5.16665C35.9382 5.16665 36.998 5.60564 37.7794 6.38704C38.5608 7.16844 38.9998 8.22824 38.9998 9.3333C38.9998 10.4384 38.5608 11.4982 37.7794 12.2796C36.998 13.061 35.9382 13.5 34.8332 13.5C33.7281 13.5 32.6683 13.061 31.8869 12.2796C31.1055 11.4982 30.6665 10.4384 30.6665 9.3333C30.6665 8.22824 31.1055 7.16844 31.8869 6.38704C32.6683 5.60564 33.7281 5.16665 34.8332 5.16665ZM34.8332 5.16665V1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_214_702">
                        <rect width="52" height="38" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                    | Рыбалка
                button(type="button" data-target="tabs4").tabs__btn 
                    <svg class="filled" width="53" height="38" viewBox="0 0 53 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26.4688 2C23.0138 2 19.6364 3.02452 16.7636 4.94402C13.8909 6.86351 11.6519 9.59175 10.3297 12.7837C9.00757 15.9757 8.66163 19.4881 9.33567 22.8767C10.0097 26.2653 11.6734 29.378 14.1165 31.821C16.5595 34.2641 19.6722 35.9278 23.0608 36.6018C26.4494 37.2759 29.9618 36.9299 33.1538 35.6078C36.3458 34.2856 39.074 32.0466 40.9935 29.1739C42.913 26.3011 43.9375 22.9237 43.9375 19.4688C43.9326 14.8373 42.0906 10.3968 38.8156 7.12188C35.5407 3.84691 31.1003 2.00489 26.4688 2ZM27.8125 8.61461L31.9765 5.75074C34.3605 6.71109 36.4545 8.27375 38.0536 10.2859L36.7098 14.811C36.6762 14.811 36.6409 14.8278 36.6074 14.8395L32.7743 16.0842C32.7168 16.1026 32.6607 16.125 32.6063 16.1514L27.8125 12.8541V8.61461ZM20.9661 5.75074L25.125 8.61461V12.8541L20.3278 16.1581C20.2735 16.1317 20.2174 16.1093 20.1599 16.0909L16.3268 14.8463C16.2932 14.8345 16.2579 14.8261 16.2243 14.8177L14.8806 10.2926C16.4812 8.27685 18.5783 6.71172 20.9661 5.75074ZM18.7825 27.4338H14.0223C12.6289 25.2673 11.83 22.7723 11.706 20.1994L15.4013 17.3641C15.4331 17.3782 15.4656 17.3905 15.4987 17.4011L19.3334 18.6474C19.3847 18.6629 19.4369 18.6752 19.4897 18.6843L21.302 23.9619C21.2768 23.9921 21.2516 24.0224 21.2281 24.0543L18.8598 27.3146C18.8319 27.3529 18.8061 27.3927 18.7825 27.4338ZM30.28 33.7461C27.7827 34.4112 25.1548 34.4112 22.6575 33.7461L20.9678 28.9758C20.9896 28.9489 21.0131 28.9237 21.0333 28.8952L23.4033 25.6332C23.4312 25.5954 23.457 25.5562 23.4806 25.5156H29.4569C29.4805 25.5562 29.5063 25.5954 29.5342 25.6332L31.9042 28.8952C31.9244 28.9237 31.9479 28.9489 31.9697 28.9758L30.28 33.7461ZM34.155 27.4288C34.1314 27.3877 34.1056 27.3479 34.0777 27.3095L31.7077 24.0543C31.6842 24.0224 31.659 23.9921 31.6338 23.9619L33.4462 18.6843C33.499 18.6752 33.5511 18.6629 33.6024 18.6474L37.4371 17.4011C37.4702 17.3905 37.5028 17.3782 37.5345 17.3641L41.2299 20.1994C41.1058 22.7723 40.307 25.2673 38.9136 27.4338L34.155 27.4288Z"/>
                    </svg>
                    | Детям
                button(type="button" data-target="tabs5").tabs__btn 
                    <svg class="filled" width="52" height="38" viewBox="0 0 52 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M40.9124 15.8635L38.5868 8.8867C38.2494 7.87092 37.6005 6.98729 36.7323 6.36136C35.8641 5.73544 34.8206 5.39905 33.7503 5.4H29.4V2H22.6V5.4H18.2497C17.1794 5.39905 16.1359 5.73544 15.2677 6.36136C14.3995 6.98729 13.7506 7.87092 13.4132 8.8867L11.0876 15.8635C10.4692 16.1223 9.94105 16.5581 9.56961 17.1161C9.19817 17.6742 9 18.3296 9 19V27.5C9 28.7546 9.6868 29.8392 10.7 30.4291V34.3C10.7 34.7509 10.8791 35.1833 11.1979 35.5021C11.5167 35.8209 11.9491 36 12.4 36H14.1C14.5509 36 14.9833 35.8209 15.3021 35.5021C15.6209 35.1833 15.8 34.7509 15.8 34.3V30.9H36.2V34.3C36.2 34.7509 36.3791 35.1833 36.6979 35.5021C37.0167 35.8209 37.4491 36 37.9 36H39.6C40.0509 36 40.4833 35.8209 40.8021 35.5021C41.1209 35.1833 41.3 34.7509 41.3 34.3V30.4291C41.8158 30.1333 42.2445 29.7068 42.5429 29.1926C42.8414 28.6784 42.999 28.0946 43 27.5V19C43 18.3296 42.8018 17.6742 42.4304 17.1161C42.0589 16.5581 41.5308 16.1223 40.9124 15.8635ZM18.2497 8.8H33.7486C34.4813 8.8 35.1307 9.2658 35.3619 9.9628L37.2421 15.6H14.7579L16.6364 9.9628C16.7492 9.62415 16.9657 9.32959 17.2553 9.12089C17.5448 8.91218 17.8928 8.79991 18.2497 8.8ZM14.95 25.8C14.615 25.7999 14.2833 25.7338 13.9739 25.6055C13.6645 25.4772 13.3833 25.2892 13.1465 25.0523C12.9097 24.8153 12.7219 24.5341 12.5938 24.2245C12.4658 23.915 12.3999 23.5833 12.4 23.2483C12.4001 22.9133 12.4662 22.5816 12.5945 22.2722C12.7228 21.9628 12.9108 21.6816 13.1477 21.4448C13.3847 21.208 13.6659 21.0202 13.9755 20.8921C14.285 20.7641 14.6167 20.6982 14.9517 20.6983C15.6282 20.6985 16.277 20.9675 16.7552 21.446C17.2334 21.9246 17.5019 22.5735 17.5017 23.25C17.5015 23.9265 17.2325 24.5753 16.754 25.0535C16.2754 25.5317 15.6265 25.8002 14.95 25.8ZM37.05 25.8C36.715 25.7999 36.3833 25.7338 36.0739 25.6055C35.7645 25.4772 35.4833 25.2892 35.2465 25.0523C35.0097 24.8153 34.8219 24.5341 34.6938 24.2245C34.5658 23.915 34.4999 23.5833 34.5 23.2483C34.5001 22.9133 34.5662 22.5816 34.6945 22.2722C34.8228 21.9628 35.0108 21.6816 35.2477 21.4448C35.4847 21.208 35.7659 21.0202 36.0755 20.8921C36.385 20.7641 36.7167 20.6982 37.0517 20.6983C37.7282 20.6985 38.377 20.9675 38.8552 21.446C39.3334 21.9246 39.6019 22.5735 39.6017 23.25C39.6015 23.9265 39.3325 24.5753 38.854 25.0535C38.3754 25.5317 37.7265 25.8002 37.05 25.8Z"/>
                    </svg>
                    | Трансфер
            .tabs__content  
                .tabs__item#tabs1.active 
                    .tabs__item-slider
                        .swiper.tabs__item-swiper
                            .swiper-wrapper.tabs__item-wrapper
                                .tabs__item-slide.swiper-slide
                                    img(src="@img/tabs-img-1.png", alt="" draggable="false")
                                .tabs__item-slide.swiper-slide
                                    img(src="@img/tabs-img-1.png", alt="" draggable="false")
                                .tabs__item-slide.swiper-slide
                                    img(src="@img/tabs-img-1.png", alt="" draggable="false")
                    .tabs__item-content 
                        p.tabs__item-title Русская банька с самоваром
                        p.tabs__item-p Предлагаем посетить дровяную баню, построенную из брёвен карельской сосны. Баня расположена в 20 метрах от озера. Дополнительно можно заказать самовар с чаем из трав, собранных в карельских лесах (черника, малина, смородина итд.)
                        .tabs__item-sep 
                        p.tabs__item-info #[span Аренда бани (до 6-ти чел):] 1500 руб./час
                        p.tabs__item-info #[span Веник:] 200 руб.
                        p.tabs__item-info #[span Банный набор (простынь, полотенце):] 200 руб.
                        p.tabs__item-info #[span Самовар с заварником:] 600 руб.
                .tabs__item#tabs2 
                    .tabs__item-slider
                        .swiper.tabs__item-swiper
                            .swiper-wrapper.tabs__item-wrapper
                                .tabs__item-slide.swiper-slide
                                    img(src="@img/tabs-img-1.png", alt="" draggable="false")
                                .tabs__item-slide.swiper-slide
                                    img(src="@img/tabs-img-1.png", alt="" draggable="false")
                                .tabs__item-slide.swiper-slide
                                    img(src="@img/tabs-img-1.png", alt="" draggable="false")
                    .tabs__item-content 
                        p.tabs__item-title Велосипед лыжи
                        p.tabs__item-p Предлагаем посетить дровяную баню, построенную из брёвен карельской сосны. Баня расположена в 20 метрах от озера. Дополнительно можно заказать самовар с чаем из трав, собранных в карельских лесах (черника, малина, смородина итд.)
                        .tabs__item-sep 
                        p.tabs__item-info #[span Аренда бани (до 6-ти чел):] 1500 руб./час
                        p.tabs__item-info #[span Веник:] 200 руб.
                        p.tabs__item-info #[span Банный набор (простынь, полотенце):] 200 руб.
                        p.tabs__item-info #[span Самовар с заварником:] 600 руб.
                .tabs__item#tabs3 
                    .tabs__item-slider
                        .swiper.tabs__item-swiper
                            .swiper-wrapper.tabs__item-wrapper
                                .tabs__item-slide.swiper-slide
                                    img(src="@img/tabs-img-1.png", alt="" draggable="false")
                                .tabs__item-slide.swiper-slide
                                    img(src="@img/tabs-img-1.png", alt="" draggable="false")
                                .tabs__item-slide.swiper-slide
                                    img(src="@img/tabs-img-1.png", alt="" draggable="false")
                    .tabs__item-content 
                        p.tabs__item-title Рыбалка
                        p.tabs__item-p Предлагаем посетить дровяную баню, построенную из брёвен карельской сосны. Баня расположена в 20 метрах от озера. Дополнительно можно заказать самовар с чаем из трав, собранных в карельских лесах (черника, малина, смородина итд.)
                        .tabs__item-sep 
                        p.tabs__item-info #[span Аренда бани (до 6-ти чел):] 1500 руб./час
                        p.tabs__item-info #[span Веник:] 200 руб.
                        p.tabs__item-info #[span Банный набор (простынь, полотенце):] 200 руб.
                        p.tabs__item-info #[span Самовар с заварником:] 600 руб.
                .tabs__item#tabs4 
                    .tabs__item-slider
                        .swiper.tabs__item-swiper
                            .swiper-wrapper.tabs__item-wrapper
                                .tabs__item-slide.swiper-slide
                                    img(src="@img/tabs-img-1.png", alt="" draggable="false")
                                .tabs__item-slide.swiper-slide
                                    img(src="@img/tabs-img-1.png", alt="" draggable="false")
                                .tabs__item-slide.swiper-slide
                                    img(src="@img/tabs-img-1.png", alt="" draggable="false")
                    .tabs__item-content 
                        p.tabs__item-title Детям
                        p.tabs__item-p Предлагаем посетить дровяную баню, построенную из брёвен карельской сосны. Баня расположена в 20 метрах от озера. Дополнительно можно заказать самовар с чаем из трав, собранных в карельских лесах (черника, малина, смородина итд.)
                        .tabs__item-sep 
                        p.tabs__item-info #[span Аренда бани (до 6-ти чел):] 1500 руб./час
                        p.tabs__item-info #[span Веник:] 200 руб.
                        p.tabs__item-info #[span Банный набор (простынь, полотенце):] 200 руб.
                        p.tabs__item-info #[span Самовар с заварником:] 600 руб.
                .tabs__item#tabs5 
                    .tabs__item-slider
                        .swiper.tabs__item-swiper
                            .swiper-wrapper.tabs__item-wrapper
                                .tabs__item-slide.swiper-slide
                                    img(src="@img/tabs-img-1.png", alt="" draggable="false")
                                .tabs__item-slide.swiper-slide
                                    img(src="@img/tabs-img-1.png", alt="" draggable="false")
                                .tabs__item-slide.swiper-slide
                                    img(src="@img/tabs-img-1.png", alt="" draggable="false")
                    .tabs__item-content 
                        p.tabs__item-title Трансфер
                        p.tabs__item-p Предлагаем посетить дровяную баню, построенную из брёвен карельской сосны. Баня расположена в 20 метрах от озера. Дополнительно можно заказать самовар с чаем из трав, собранных в карельских лесах (черника, малина, смородина итд.)
                        .tabs__item-sep 
                        p.tabs__item-info #[span Аренда бани (до 6-ти чел):] 1500 руб./час
                        p.tabs__item-info #[span Веник:] 200 руб.
                        p.tabs__item-info #[span Банный набор (простынь, полотенце):] 200 руб.
                        p.tabs__item-info #[span Самовар с заварником:] 600 руб.
                .tabs__tel 
                    <svg width="29" height="27" viewBox="0 0 29 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M27.5247 19.0284C26.8042 18.6945 23.2879 17.0253 22.6539 16.7749C21.991 16.5524 21.5298 16.4411 21.0398 17.1088C20.5499 17.8043 19.1952 19.3622 18.7917 19.8074C18.3882 20.2803 17.9559 20.336 17.2354 19.9743C16.5148 19.6404 14.2091 18.8893 11.4999 16.5524C9.36705 14.7162 7.95479 12.4628 7.52246 11.7673C7.11896 11.0718 7.46482 10.7101 7.8395 10.3484C8.15654 10.0424 8.56004 9.54163 8.9059 9.15214C9.25177 8.76266 9.39587 8.45663 9.62645 8.01151C9.85702 7.53856 9.74173 7.14908 9.5688 6.81523C9.39587 6.48139 7.95479 3.0873 7.37835 1.69628C6.80192 0.360899 6.19666 0.52782 5.76434 0.5H4.3809C3.89093 0.5 3.14156 0.666922 2.47866 1.36243C1.84459 2.05794 0 3.72717 0 7.12126C0 10.5153 2.56513 13.7982 2.91099 14.2433C3.25685 14.7162 7.95479 21.6713 15.1026 24.6481C16.803 25.3714 18.1288 25.7888 19.1664 26.0948C20.8669 26.6234 22.4233 26.5399 23.6626 26.373C25.0461 26.1782 27.8994 24.7037 28.4758 23.0902C29.0811 21.4766 29.0811 20.1134 28.8793 19.8074C28.6776 19.5013 28.2453 19.3622 27.5247 19.0284Z" fill="#35B8EB"/>
                    </svg>
                    | +7 (921) ..
                    <button>Показать телефон</button>